[Desktop Entry]
Name=History Manager
Name[tr]=Geçmiş Yöneticisi
Name[es]=Administrador de Históricos
GenericName=History Management Interface
GenericName[tr]=Geçmiş Yönetim Arayüzü
GenericName[es]=Administrador de Históricos
Icon=History_Manager
X-KDE-ModuleType=Library
X-KDE-Library=history-manager
X-KDE-FactoryName=history_manager
X-KDE-RootOnly=true
Type=Application
Exec=history-manager
Categories=Qt;KDE;System;X-KDE-settings-system;X-KDE-tasma-system;
Comment=History Manager
Comment[tr]=Geçmiş Yönetim Arayüzü
