[Desktop Entry]
Name=Firewall
Name[en]=Firewall
Name[tr]=Güvenlik Duvarı
Comment=Firewall User Interface
Comment[tr]=Güvenlik Duvarı Arabirimi
Icon=guvenlik_kga
Type=Application
Exec=guvenlik-kga
Categories=QT;Network;KDE
