[Desktop Entry]
Exec=kcmshell4 disk-manager
Icon=drive-harddisk
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=disk-manager/disk-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=Disk Manager
Name[tr]=Disk Yöneticisi
Name[sv]=Hårddiskhanteraren
Name[es]=Administrador de Montaje de particiones
Name[de]=Disk-mount Manager
Name[nl]=Schijfbeheer
Comment=Disk Manager
Comment[sv]=Hårddiskhanteraren
Comment[es]=Administrador de Montaje de particiones
Comment[de]=Disk-mount Manager
Comment[tr]=Disk Yöneticisi
Comment[nl]=Programma voor beheer van schijven en partities.
X-KDE-Keywords=python disk managers
