[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Everything Solved.
  # Portions created by Everything Solved are Copyright (C) 2006
  # Everything Solved. All Rights Reserved.
  #
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  # Translator(s):  Necmettin Begiter <necmettin@pardus.org.tr> (Turkish)
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl 
  title = "$terms.Bugzilla 3.2 Sürüm Notları" 
  style_urls = ['skins/standard/release-notes.css'] 
%]

<h2>İçindekiler</h2>

<ul class="bz_toc">
  <li><a href="#v32_introduction">Giriş</a></li>
  <li><a href="#v32_req">En Düşük Gereksinimler</a></li>
  <li><a href="#v32_feat">Yeni Özellikler ve Geliştirmeler</a></li>
  <li><a href="#v32_issues">Önemli Noktalar</a></li>
  <li><a href="#v32_upgrading">Eski Bir Sürümden Yükseltmek</a></li>
  <li><a href="#v32_code_changes">Özelleştirmeleri Etkileyebilecek Kod Değişiklikleri</a></li>
  <li><a href="#v32_previous">Önceki Sürümlerin Sürüm Notları</a></li>
</ul>

<h2><a name="v32_introduction"></a>Giriş</h2>

<p>[% terms.Bugzilla %] 3.2'ye hoşgeldiniz! Bu sürüm, [% terms.Bugzilla %] 3.0'dan bu yana ilk ana sürümümüzdür ve [% terms.Bugzilla %] deneyiminize çok sayıda güzel iyileştirme ve makyaj içermektedir.</p>

<p>Eğer önceki bir sürümden yükseltiyorsanız <a href="#v32_upgrading">Önceki Bir Sürümden Yükseltme</a> bölümünü mutlaka okuyun. Eğer 3.0 öncesi bir sürümden yükseltiyorsanız, sizdeki sürümle bu sürüm arasındaki tüm sürümlerin <a href="#v32_previous">notlar</a>ını <strong>özellikle de "Yükseltenler İçin Notlar" bölümlerini</strong> okumalısınız.</p>

<h2><a name="v32_req"></a>En Düşük Gereksinimler</h2>

<p>3.0.5'ten bu yana eklenen gereksinimler
  <span class="req_new">böyle</span> görünür.</p>

<ul>
  <li><a href="#v32_req_perl">Perl</a></li>
  <li><a href="#v32_req_mysql">MySQL Kullanıcıları İçin</a></li>
  <li><a href="#v32_req_pg">PostgreSQL Kullanıcıları İçin</a></li>
  <li><a href="#v32_req_oracle">Oracle Kullanıcıları İçin</a></li>
  <li><a href="#v32_req_modules">Gerekli Perl Bileşenleri</a></li>
  <li><a href="#v32_req_optional_mod">İsteğe Bağlı Perl Bileşenleri</a></li>
</ul>

<h3><a name="v32_req_perl"></a>Perl</h3>

<p>Perl <span class="req_new">v<strong>5.8.1</strong></span></p>

[% INCLUDE db_req db='mysql' dbd_new = 1 %]

[% INCLUDE db_req db='pg' %]

[% INCLUDE db_req db='oracle' %]

<h3><a name="v32_req_modules"></a>Gerekli Perl Bileşenleri</h3>

[% INCLUDE req_table reqs = REQUIRED_MODULES 
                     new = []
                     updated = ['Template-Toolkit', 'Email-MIME',
                                'Email-MIME-Modifier', 'CGI'] %]

<h3><a name="v32_req_optional_mod"></a>İsteğe Bağlı Perl Bileşenleri</h3>

<p>Aşağıdaki Perl bileşenleri, yüklü iseler çeşitli [% terms.Bugzilla %] özelliklerinin kullanılabilir olmasını sağlarlar:</p>

[% INCLUDE req_table reqs = OPTIONAL_MODULES
                     new  = ['SASL-Authen', 'RadiusPerl']
                     updated = []
                     include_feature = 1 %]

<h2><a name="v32_feat"></a>Yeni Özellikler ve Geliştirmeler</h2>

<ul>
  <li><a href="#v32_feat_ui">Ana Arayüz İyileştirmeleri</a></li>
  <li><a href="#v32_feat_skin">Yeni Varsayılan Cilt: Alacakaranlık</a></li>
  <li><a href="#v32_feat_status">Özelleştirilmiş Durum Akışı</a></li>
  <li><a href="#v32_feat_fields">Yeni, Özelleştirilmiş Alan Türleri</a></li>
  <li><a href="#v32_feat_install">Daha Kolay Kurulum</a></li>
  <li><a href="#v32_feat_oracle">Deneysel Oracle Desteği</a></li>
  <li><a href="#v32_feat_utf8">Geliştirilmiş UTF-8 Desteği</a></li>
  <li><a href="#v32_feat_grcons">Grup Simgeleri</a></li>
  <li><a href="#v32_feat_other">Diğer İyileştirmeler ve Değişiklikler</a></li>
</ul>

<h3><a name="v32_feat_ui"></a>Ana Arayüz İyileştirmeleri</h3>

<p>[% terms.Bugzilla %] 3.2 NASA İnsan-Bilgisayar Etkileşimi bölümünden ve yeni kurulan <a href="http://wiki.mozilla.org/Bugzilla:UE">[% terms.Bugzilla %]
  Kullanıcı Arayüz Takımı</a>ndan arayüz konusunda yardım aldı.</p>

<p>Özelde, [% terms.bug %] değiştirme formunda büyük bir değişiklik göreceksiniz ve ayrıca [% terms.Bugzilla %] için <a href="#v32_feat_skin">yeni bir deri</a> bulunuyor.</p>

<h3><a name="v32_feat_skin"></a>Yeni Varsayılan Cilt: Alacakaranlık</h3>

<p>[% terms.Bugzilla %] 3.2 artık öntanımlı deri olan "Klasik"ten biraz daha renkli olan ve "Alacakaranlık" adı verilen bir deri ile geliyor.</p>

<p>Yükseltilen kurulumlar halâ öntanımlı olarak "Klasik" deriyi kullanacak ve yöneticiler bunu Öntanımlı Tercihler denetim masasından değiştirebilecekler. Kullanıcılar kendi Tercihler sayfalarında (ya da Firefox'da Görünüm :: Sayfa Biçimi'nden) değiştirebilecekler.</p>

<p>[% terms.Bugzilla %]'nın Alacakaranlık için gerektirdiği değişiklikler yeni deriler eklemeyi çok kolaylaştırdı.
  <a href="http://wiki.mozilla.org/Bugzilla:Addons#Skins">Eklentiler sayfası</a>ndan başka deriler indirebilir, ya da kendinize bir [% terms.Bugzilla %] derisi yapabilirsiniz!</p>

<h3><a name="v32_feat_status"></a>Özelleştirilmiş Durum Akışı</h3>

<p>Artık [% terms.BugzillaLoc %] durumları ve aralarında gerçekleşebilecek geçişleri özelleştirebilirsiniz.</p>

<p>Ayrıca belirli durumlarda yorum girilmesini zorunlu kılabilirsiniz.</p>

<h3><a name="v32_feat_fields"></a>Yeni, Özelleştirilmiş Alan Türleri</h3>

<p>[% terms.Bugzilla %] 3.2 üç yeni özelleştirilmiş alan türüne olanak verir:</p>

<ul>
  <li>Uzun Metin: [% terms.BugsDat %] birden fazla satırlık bir metin kutusu ekler.</li>
  <li>Çoklu Seçim Kutusu: Bir listeden birden fazla öğe seçme olanağı veren bir kutu ekler.</li>
  <li>Tarih/Zaman: Bir tarih ve zaman girilmesine olanak verir. Bir JavaScript takvim yardımıyla tarih seçmeyi de kolaylaştıran bir alandır.</li>
</ul>

<h3><a name="v32_feat_install"></a>Daha Kolay Kurulum</h3>

<p>[% terms.Bugzilla %] artık [% terms.Bugzilla %] için gereken tüm Perl modüllerini indirip kuran <kbd>install-module.pl</kbd> isminde bir betikle geliyor. Bu betik o dosyaları [% terms.Bugzilla %] kurulumunuzun altındaki bir dizinde saklıyor, dolayısıyla makineye yönetici düzeyi erişiminiz olmasa bile Perl kurulumunuzda herhangi bir değişiklik yapmadan o modülleri kullanabiliyorsunuz.</p>

<p><kbd>checksetup.pl</kbd> <kbd>install-module.pl</kbd>'yi kullanmak için gereken açıklamaları yazacaktır, ya da isterseniz <kbd>install-module.pl</kbd>'nin <a href="[% docs_urlbase FILTER html %]api/install-module.html">belgelendirme</a>sine bakabilirsiniz.</p>

<h3><a name="v32_feat_oracle"></a>Deneysel Oracle Desteği</h3>

<p>[% terms.Bugzilla %] 3.2 veritabanı olarak Oracle kullanma noktasında deneysel destek içerir. [% terms.BugzillaGen %] bazı özelliklerinin Oracle'da çalışmadığı bilinmektedir, fakat bir sonraki ana sürümde bu problemlerin giderilmiş olacağını ümit edebilirsiniz.</p>

<p>[% terms.Bugzilla %] Projesi, açık kaynak bir proje olarak, sahipli veritabanı çözümlerinin kullanılmasını (doğal olarak) önermiyor. Ancak, eğer kurumunuz Oracle kullanmanızı gerektiriyorsa, [% terms.Bugzilla %] kullanabileceksiniz!</p>

<p>[% terms.Bugzilla %] Projesi bunun gerçekleşmesini sağlayan Oracle'ın [% terms.BugzillaDat %] geliştirme katkılarına teşekkür eder!</p>

<h3><a name="v32_feat_utf8"></a>Geliştirilmiş UTF-8 Desteği</h3>

<p>[% terms.Bugzilla %] 3.2 artık karakterleri birden fazla bayttan oluşan dillerin kullanımı da dahil kod seviyesinde gelişmiş UTF-8 desteği içeriyor. Sıradışı dillerle ilgili ana problemler giderildi ve [% terms.Bugzilla %] artık tüm ülkelerde çok az (en azından çok daha az) özelleştirme ile kullanılabilir durumda.</p>

<h3><a name="v32_feat_grcons"></a>Grup Simgeleri</a></h3>

<p>Yöneticiler artık belirli gruplardaki kullanıcıların yorum yazdıklarında isimlerinin yanında bir simge görünmesini sağlayabiliyor. Bu nitelik özellikle geliştiricileri [%+ terms.bug %] raporlayanlardan ayırmak için kullanışlı olacaktır.</p>

<h3><a name="v32_feat_other"></a>Diğer İyileştirmeler ve Değişiklikler</h3>

<p>Burada listelenenler ya küçük iyileştirmeler, ya da çok kısa açıklamaları olan iyileştirmeler. Fakat bazılarının gerçekten çok faydalı olduğunu göreceksiniz!</p>

<h4>Kullanıcılara Yönelik İyileştirmeler</h4>

<ul>
  <li><strong>[% terms.Bugs %]</strong>: Artık [%+ terms.abugAcc %] aynı anda hem başkasına atayıp hem de durumunu değiştirebilirsiniz.</li>
  <li><strong>[% terms.Bugs %]</strong>: [% terms.Abug %] girerken, bir bileşen seçtiğinizde o bileşenin açıklamasını göreceksiniz.</li>
  <li><strong>[% terms.Bugs %]</strong>: [% terms.Bug %] görünümü artık kullanıcıların adları ve eposta adresleri gibi bazı <a href="http://microformats.org/about/">mikrobiçim</a>lere destek veriyor.</li>
  <li><strong>[% terms.Bugs %]</strong>: Artık [% terms.abugGen %] Kalite Kontrol İletişim alanını temizleyerek o [% terms.bugGen%] Kalite Kontrol kişisini silmek mümkün.</li>
  <li><strong>[% terms.Bugs %]</strong>: Yorumlara yanıt yazarken o yorumdaki metnin alıntılanmasını engelleme tercihi eklendi.</li>
  <li><strong>[% terms.Bugs %]</strong>: [% terms.Bug %] görünümünde istediğiniz yorumları genişletebiliyor ve daraltabiliyorsunuz.</li>

  <li><strong>Ekler</strong>: Ekler değiştirilirken "havada çarpışma"ları (iki kişinin birden aynı hatada değişiklik yapması sonucu çakışma) önleme koruması bulunuyor.</li>
  <li><strong>Ekler</strong>: Fark (Diff) Görüntüleyici'de yamalarda artık satır numaraları gösteriliyor (<a href="https://bugzilla.mozilla.org/attachment.cgi?id=327546">Örnek</a>).</li>
  <li><strong>Ekler</strong>: Yeni bir ek yüklendikten veya güncellendikten sonra, doğrudan ilgili [% terms.bug %] sayfası gösteriliyor.</li>

  <li><strong>Arama</strong>: Sütun başlıklarına ikinci bir kez tıklayarak [% terms.bug %] listesinin sıralaması ters çevrilebiliyor.</li>
  <li><strong>Arama</strong>: [% terms.Bug %] listelerinin Atom beslemeleri artık daha fazla alan içeriyor.</li>
  <li><strong>Arama</strong>: Hızlı arama artık bayrak ve gruplarda arama yapmayı destekliyor. Öntanımlı olarak aramaya dahil edilen alanlara işletim sistemi alanı da eklendi.</li>
  <li><strong>Arama</strong>: query.cgi dosyasındaki "Yardım" metni artık Internet Explorer'da ve Firefox dışındaki diğer tarayıcılarda da çalışıyor (Firefox'da her zaman çalışıyordu.)</li>

  <li>[% terms.Bugzilla %] artık çoğu tarayıcıda adres satırının yanında görüntülenen bir simge ile geliyor. Eğer onun yerine başka bir simge koymak isterseniz, <kbd>images/favicon.ico</kbd> konumunda bulabilirsiniz.</li>

  <li>Artık "Bir Kerede Birden Fazla 
    [%+ terms.Bug %] Değiştir"irken son günü de değiştirebilirsiniz.</li>
  <li><strong>Kayıtlı Aramalar</strong> artık sütun listesini de kaydediyor; dolayısıyla sütunları özelleştirip listeyi o şekilde kaydederseniz her zaman o sütunları gösterecek.</li>
  <li><strong>Kayıtlı Aramalar</strong>: Bir aramayı paylaştığınızda, <kbd>userprefs.cgi</kbd> sayfasında kaç kişinin o aramaya abone olduğunu görebiliyorsunuz.</li>
  <li><strong>Kayıtlı Aramalar</strong>: <kbd>userprefs.cgi</kbd> içerisinde paylaşılan aramaların hangi grupla paylaşıldığını görebilirsiniz.</li>
  <li><strong>Bayraklar</strong>: Kurulumunuz açılır kullanıcı listeleri kullanıyorsa, "bayrak istenen" kutusu sadece istek alabilecek kullanıcıların listesini içerir.</li>
  <li><strong>Bayraklar</strong>: Eğer birisi sizden bir istekte bulunursa ve siz istek yapılan kişiyi başkası olarak değiştirirseniz, istekte bulunan kişi olarak işaretlenmeyeceksiniz. Diğer bir deyişle, istekleri başkasına yönlendirebilirsiniz ve istekte bulunan kişi değişmez.</li>
  <li><strong>Bayraklar</strong>: Bayraklar hakkındaki epostalar artık eposta istemcilerinde [% terms.abugGen %] epostası ile aynı seride yer alıyor.</li>
  <li><kbd>email_in.pl</kbd> kullanırken alan adı olarak <kbd>@cc</kbd> kullanarak kullanıcıları kolaylıkla haber verilecekler listesine ekleyebilirsiniz.</li>
  <li>Özellikle yönetim sayfaları olmak üzere pek çok sayfa [% terms.Bugzilla %] kılavuzundaki ilgili bölüme bağlantılar içerior, böylece belgelendirmeye kolayca ulaşılabiliyor.</li>
  <li>Bağlımlılık Çizelgeleri artık öntanımlı olarak sadece bağımlılık ağacında göreceğiniz [% terms.bugsAcc %] içerdiği için daha hızlı hazırlanacaktır.</li>
</ul>

<h4>Yöneticilere Yönelik Geliştirmeler</h4>

<ul>
  <li><strong>Yönetim Arayüzü</strong>: Sayfa altında Yönetim Paneli bağlantıları yerine artık sadece "Yönetim" metnine bağlı tek bir bağlantı bulunuyor ve o sayfadan [% terms.Bugzilla %] yönetimi ile ilgili tüm işlemlere gidilebiliyor.</li>
  <li><strong>Yönetim Arayüzü</strong>: Yönetim sayfaları artık onay sayfaları görüntülemek yerine neleri değiştirdiğinizi gösteren kullanışlı bir sayfaya yönlendiriyor.</li>
  <li><strong>Yönetim Arayüzü</strong>: <kbd>editgroups.cgi</kbd> dosyasında grup kalıtımlarını değiştirmekle ilgili olan kısım artık çok daha anlaşılır.</li>
  <li><strong>Yönetim Arayüzü</strong>: Bir kullanıcıda değişiklik yaparken artık o kullanıcının Öntanımlı Atanan veya Öntanımlı Kalite Kontrol Kişisi olduğu tüm bileşenleri görebiliyorsunuz.</li>

  <li><strong>Eposta</strong>: Sendmail yerine SMTP kullanan kurulumlarda [%+ terms.Bugzilla %] artık SMTP Kimlik Doğrulama desteği içeriyor, böylece ileti göndermeden önce posta sunucusuna oturum açabiliyorsunuz.</li>
  <li><strong>Eposta</strong>: Test etmeyi kolaylaştırmak için artık "Test" eposta iletim yöntemi geçerli bir mbox dosyası oluşturuyor.</li>

  <li><strong>Kimlik Doğrulama</strong>: [% terms.Bugzilla %] artık birden fazla epost adresi içeren LDAP kayıtlarını doğru işliyor. (Listeden geçerli bir [% terms.Bugzilla %] hesabı olan ilk eposta adresi kullanılır, ya da eğer bu yeni bir kullanıcı ise listedeki ilk eposta adresi kullanılır.)</li>
  <li><strong>Kimlik Doğrulama</strong>: [% terms.Bugzilla %] başarılı bir bağlantı sağlayana kadar denemek üzere bir LDAP sunucu listesi alabilir.</li>
  <li><strong>Kimlik Doğrulama</strong>: [% terms.Bugzilla %] artık RADIUS kimlik doğrulama yöntemini destekliyor.</li>

  <li><strong>Güvenlik</strong>: Oturum çerezler kötü niyetli betikleri engellemek için "HTTPOnly" olarak oluşturuluyor. Ayrıca, eğer kurulumunuzda SSL açıksa oturum çerezi sadece SSL bağlantılarda gönderiliyor.</li>
  <li><strong>Güvenlik</strong>: <code>ssl</code> parametresi "kimliği doğrulanmış oturumlar" olarak ayarlandığında oturum açmış kullanıcının açtığı tüm sayfalar korunur. Ayrıca, parametre atandığında WebServices arayüzünde SSL zorunlu kılınıyor.</li>

  <li><strong>Veritabanı</strong>: [% terms.Bugzilla %] artık tablo kilitlemek yerine aktarım (transaction) kullanıyor. Bu değişiklik çok sayıda kullanıcı bağlı olduğunda performans kazanımı sağlayacaktır. Bu değişiklik ayrıca bir sayfanın herhangi bir yerinde beklenmedik bir problem yaşandığında o sayfada yapılan tüm veritabanı değişikliklerinin geri alınacağı anlamına da geliyor.</li>
  <li><strong>Veritabanı</strong>: MySQL'de büyük ekler için artık <code>max_packet_size</code> kullanmanız gerekmiyor. Ancak, eğer veritabanınıza bir "mysqldump" yükleyecekseniz veritabanında bunu ayarlamanız gerekebilir.</li>

  <li>Yeni WebService fonksiyonları:
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Bug.html">B<!-- -->ug.add_comment</a>
    ve <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Bugzilla.html">Bugzilla.extensions</a>.</li>

  <li>Kendi oluşturduğunuz alanları, herhangi bir [% terms.bugLoc %] atanmadılarsa, silebilirsiniz.</li>
  <li>Artık <kbd>checksetup.pl</kbd>'nin bir kullanıcının parolasını komut satırından sıfırlamak için <kbd>--reset-password</kbd> parametresi bulunuyor.</li>
  <li><kbd>sanitycheck.cgi</kbd> ile aynı işi yapan bir komut satırı betiği eklendi: <kbd>sanitycheck.pl</kbd>. Öntanımlı olarak, sadece bir hata varsa çıktı üretir, dolayısıyla bir cron işi olarak her gece çalıştırılmak için gayet uygundur.</li>
  <li><kbd>strict_isolation</kbd> parametresi artık sizin [% terms.abugLoc %] haber verilecekler, atanan veya Kalite Kontrol kişilerini görmenizi de engelliyor. Öncesinde sadece [% terms.bugLoc %] değişiklik yapamayacak kişileri eklemenize olanak veriyordu.</li>
  <li>Eklentiler HTML &lt;head&gt;'e artık özel CSS ve benzeri kendi başlıklarını ekleyebiliyor.</li>
  <li><kbd>sanitycheck.cgi</kbd> de tüm [% terms.Bugzilla %] arayüzü gibi şablonlarla çalışıyor.</li>
  <li><kbd>sslbase</kbd> parametresine artık port numarası da verebiliyorsunuz.</li>
  <li>[% terms.bugs %] using <kbd>importxml.pl</kbd> ile içeri aktarırken, eklerde diğer sistemden [% terms.bugAcc %] dışarı aktaran yerine ekleri oluşturanların kimliği korunuyor.</li>
  <li>Yeni kurulumlarda öntanımlı olarak oylama sistemi kapalıdır. Bunu oylama sisteminin ileride bir eklenti haline getirilmesine hazırlık olarak kabul ediniz.</li>
  <li><code>shutdownhtml</code> parametresi artık [% terms.Bugzilla %]'s veritabanı sunucusu çalışmıyor durumda olsa bile çalışır.</li>
</ul>

<h3>Yerelleştirme Ekiplerine (ve Yerelleştirilmiş Kurulumlara) Yönelik İyileştirmeler</h3>

<ul>
  <li>Belgelendirme yerelleştirilebilir oldu; diğer bir deyişle, birden fazla dil için belgelendirme yüklebilirsiniz ve [%+ terms.Bugzilla %] doğru dili çekip bağlantıları ona göre düzenler.</li>
  <li>[% terms.Bugzilla %] artık <kbd>languages</kbd> parametresini kullanımıyor. Onun yerine hangi dillerin kullanılabilir olduğunu anlamak için <kbd>template/</kbd> dizinine bakıyor.</li>
  <li><kbd>checksetup.pl</kbd> tarafından yazılan bazı dizgeler artık yerelleştirilebilir durumda. <kbd>template/en/default/setup/strings.txt.pl</kbd> dosyasına bakın.
</ul>

<h2><a name="v32_issues"></a>Problem Oluşturabilecek Noktalar</h2>

<ul>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=423439">
    [%- terms.Bug %] 423439</a>: Perl 5.8.8'deki bir hatadan ötürü yorumlardaki sekme karakterleri dört boşluk karakteriyle değiştirilir.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=69621">
    [%- terms.Bug %] 69621</a>: Eğer [% terms.abugLoc %] kullanılan bir anahtarı siler ya da değiştirirseniz, <a href="sanitycheck.cgi">sanitycheck.cgi</a> dosyasını çalıştırıp sorduğunda önbelleği yeniden oluşturma işlemini onaylayarak "anahtar önbelleği"ni yeniden oluşturmanız gerekir. Aksi taktirde arama sonuçlarında anahtarlar doğru görüntülenmeyebilir.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=89822">
    [%- terms.Bug %] 89822</a>: Aynı anda birden fazla [% terms.bugAcc %] değiştirirken "havada çarpışma" koruması yoktur.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=276230">
    [%- terms.Bug %] 276230</a>: Belirli kategorilere ve yeni çizelgelere erişimi sınırlama desteği henüz tamamlanmadı. 'chartgroup' parametresini tek erişim mekanizması olarak kabul etmelisiniz.<br>
    Ancak, eski çizelgelerden aktarılan çizelgeler ilgili ürün için ZORUNLU (MANDATORY) işaretli gruplarla sınırlı olr. Henüz bu sınırlandırmayı değiştirmek için herhangi bir yol yok ve ürünle ilgili grup yapılandırması değiştirilirken gruplamalar güncellenmez</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=370370">
    [%- terms.Bug %] 370370</a>: mod_perl desteği Windows makinelerde çalışmıyor.</li>
</ul>

<h2><a name="v32_upgrading"></a>Önceki Sürümden Yükseltme</h2>

<h3><a name="v32_upgrading_notes"></a>Yükseltenlere Notlar</h3>

<ul>
  <li>CVS'den güncellerseniz, <kbd>extensions</kbd> ve <kbd>skins/contrib</kbd> dizinleri artık <kbd>checksetup.pl</kbd> tarafından oluşturulmak yerine CVS ile birlikte geliyor. 3.0 sürümünden <kbd>cvs update</kbd> yaparsanız o dizinleri silmeniz ya da güncellemeniz ve ondan sonra <kbdcvs update</kbd> yapmanız gerektiği bildirilir. Ek olarak, <kbd>docs</kbd> dizini yeniden yapılandırıldı ve <kbd>docs/html</kbd>, <kbd>docs/pdf</kbd>, <kbd>docs/txt</kbd>, ve <kbd>docs/xml</kbd> dizinlerini silebilirsiniz.</li>
  <li>MySQL kullanıyorsanız, [% terms.BugzillaGen %] artık tüm tablolarda InnoDB kullandığını bilmelisiniz. <kbd>checksetup.pl</kbd> tüm tablolarınızı otomatik olarak dönüştürecektir, fakat InnoDB'yi kapattıysanız, yükseltme tamamlanamaz (ve <kbd>checksetup.pl</kbd> de size bunu raporlar).</li>

  <li><strong>Ayrıca eğer 3.0 öncesi bir sürümden yükseltiyorsanız <a href="#v32_previous">önceki sürüm notları</a> bölümündeki <a href="#v30_upgrading_notes">Yükseltenler İçin [% terms.Bugzilla %] 3.0 Yükseltme Notları</a> kısmını da okumalısınız.</li>
</ul>

<h3>Yükseltme Adımları</h3>

<p>Yukarıdaki notları okuduktan sonra, nasıl yükselteceğiniz hakkında bilgi almak için
  <a href="[% docs_urlbase FILTER html %]upgrade.html">Yükseltme belgesi</a>ni okuyun.</p>

<h2><a name="v32_code_changes"></a>Özelleştirmeleri Etkileyebilecek Kod Değişiklikleri</h2>

<ul>
  <li><a href="#v32_code_hooks">Daha Fazla Kanca!</a></li>
  <li><a href="#v32_code_search">Search.pm Mimari Değişiklikleri</a></li>
  <li><a href="#v32_code_lib">lib Dizini</a></li>
  <li><a href="#v32_code_other">Diğer Değişiklikler</a></li>
</ul>

<h3><a name="v32_code_hooks"></a>Daha Fazla Kanca!</h3>

<p>3.2'de 3.0'a göre daha fazla kanca var. Bu konuda bilgi için
  <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Hook.html">Bugzilla::Kanca</a>
  bölümüne bakabilirsiniz.</p>

<h3><a name="v32_code_search"></a>Search.pm Mimari Değişiklikleri</h3>

<p><kbd>Bugzilla/Search.pm</kbd> okuması ve kullanması daha kolay olsun diye büyük oranda değiştirildi. 3.0 ile arasında büyük kod değişiklikleri olmamasına rağmen, yapısı hatırı sayılır miktarda değiştirildi.</p>

<h3><a name="v32_code_lib"></a>lib Dizini</h3>

<p><a href="#v32_feat_install">install-module.pl</a> dosyasına geçişin bir parçası olarak,
  [%+ terms.BugzillaDat %] standart sistem yoluna ek olarak yüklenen modülleri aramada kullandığı yerel bir <kbd>lib</kbd> dizini verildi.</p>

<p>Bu değişiklik, tüm [% terms.Bugzilla %] betiklerinin artık ilk satırlarından birinde <code>use lib qw(. lib);</code> ile geldiği anlamını da taşıyor.</p>

<h3><a name="v32_code_other"></a>Diğer Değişiklikler</h3>

<ul>
  <li>Şablonlarda artık <code>status_descs.NEW</code> yerine <code>get_status('NEW')</code> kullanmanız gerekiyor.</li>
  <li>Her şablon dosyasının üzerinde bulunan <code>[&#37;# version = 1.0 &#37;]</code> yorumu kaldırıldı.</li>
</ul>

<h2><a name="v32_previous"></a>Önceki Sürümlerin Sürüm Notları</h2>

<h1>[% terms.Bugzilla %] 3.0.x Sürüm Notları</h1>

<h2>İçindekiler</h2>

<ul class="bz_toc">
  <li><a href="#v30_introduction">Giriş</a></li>
  <li><a href="#v30_point">Bu 3.0.x Sürümündeki Güncellemeler</a></li>
  <li><a href="#v30_req">En Düşük Gereksinimler</a></li>
  <li><a href="#v30_feat">Yeni Özellikler ve Geliştirmeler</a></li>
  <li><a href="#v30_issues">Problem Oluşturabilecek Noktalar</a></li>
  <li><a href="#v30_security">Bu Sürümdeki Güvenlik Düzeltmeleri</a></li>
  <li><a href="#v30_upgrading">Eski Bir Sürümden Nasıl Yükseltilir</a></li>
  <li><a href="#v30_code_changes">Özelleştirmeleri Etkileyebilecek Değişiklikler</a></li>
  <li><a href="#v30_previous">Önceki Sürümlerin Sürüm Notları</a></li>
</ul>

<h2><a name="v30_introduction"></a>Giriş</h2>

<p>[% terms.Bugzilla %] 3.0'a hoşgeldiniz! [% terms.Bugzilla %] 2.0'dan bu yana sekiz yıl geçti, ve o zamandan bu yana herşey değişti. Bir önceki sürümümüz olan  [% terms.Bugzilla %] 2.22'den beri bile <em>çok</em> sayıda yeni özellik ekledik. Bu sürümü size ulaştırabildiğimiz için mutluyuz, keyfini çıkarın.</p>

<p>Eğer yükseltiyorsanız <a href="#v30_upgrading">Önceki Sürümlerden Yükseltme</a> sayfasını okumayı unutmayın. Eğer 2.22 öncesi bir sürümden yükseltiyorsanız sizin kullanmakta olduğunuz sürümden itibaren olan <a href="#v30_previous">önceki tüm sürümler</a>in tamamının yükseltme notlarını okumayı unutmayın.</p>

<h2><a name="v30_point">Bu 3.0.x Sürümündeki Güncellemeler</a></h2>

<p>Bu bölüm 3.0 sonrası hata düzeltme sürümlerinde [% terms.BugzillaLoc %] nelerin değiştiğini açıklar. Her sürüm için en önemli değişiklikleri listeliyoruz. Eğer her sürümde değişen <em>herşeyin</em> detaylı bir listesini isterseniz <a href="http://www.bugzilla.org/status/changes.html">Değişiklik Günlüğü Sayfası</a>nı kullanmalısınız.</p>

<h3>3.0.6</h3>

<ul>
  <li>3.0.6 öncesinde sonlandırıcı düzeydeki WebService hataları numara yerine dizge olan bir <code>faultCode</code> döndürüyordu.
   (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=446327">[% terms.Bug %] 446327</a>)</li>
  <li>Daha önce sildiğiniz bir ürün ya da bileşeni yeniden oluşturmaya kalktığınızda, seri tablosu hakkında bir hata vererek başarısızlıkla sonuçlanıyordu. (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=247936">[% terms.Bug %] 247936</a>)</li>
</ul>

<p>Ayrıca bu sürümde düzeltilen güvenlik problemleri ile ilgili olarak da <a href="#v30_security">Güvenlik Bildirileri</a> bölümüne bakın.</p>

<h3>3.0.5</h3>

<ul>
  <li>Eğer bir bayrağı atama izniniz yoksa, arayüzde artık değiştirilemez şekilde görüntüleniyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=433851">[% terms.Bug %] 433851</a>)</li>
  <li>Eğer mod_perl çalıştırıyorsanız, [% terms.Bugzilla %] 3.0.3 sürümünden bu yana veritabanı bağlantılarını düzgün şekilde kapatmıyordu, dolayısıyla bazen veritabanına bağlantı sınırına ulaşılıyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=441592">[% terms.Bug %] 441592</a>)</li>
  <li>Kurulum betiği artık Perl'de hangi <code>Email::</code> modüllerinin gerektiğini açık bir şekilde belirtiyor ve böylece 
    <samp>SCALAR(0xBF126795)</samp> gibi eposta gövdeleri önlenebiliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=441541">[% terms.Bug %] 441541</a>)</li>
  <li><a href="[% docs_urlbase FILTER html %]api/email_in.html">email_in.pl</a>
    artık <kbd>@product</kbd> değerlerini büyük-küçük harf duyarlı almıyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=365697">[% terms.Bug %] 365697</a>)</li>
</ul>

<p>Ayrıca bu sürümde düzeltilen güvenlik problemleri ile ilgili olarak da <a href="#v30_security">Güvenlik Bildirileri</a> bölümüne bakın.</p>

<h3>3.0.4</h3>

<ul>
  <li>[% terms.Bugzilla %] yöneticileri yeni sürümlerden haberdar edilmiyorlardı.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=414726">[% terms.Bug %] 414726</a>)</li>

  <li>Eposta konu satırlarında ek boşluklar bulunabiliyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=411544">[% terms.Bug %] 411544</a>)</li>

  <li><kbd>B<!-- -->ug.create</kbd> WebService fonksiyonu öncelik, önem, işletim sistemi ve platform alanlarının girilmesini bu alanların öntanımlı değerleri olsa bile zorunlu kılıyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=384009">[% terms.Bug %] 384009</a>)</li>

  <li>Bazı eposta istemcilerinde [% terms.bug %] epostalarının daha düzgün dizilmesi.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=376453">[% terms.Bug %] 376453</a>)</li>

  <li>Gelen Eposta Arayüzü'nde (<kbd>email_in.pl</kbd>) çok sayıda düzeltme yapıldı.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=92274">[% terms.Bug %] 92274</a>,
     <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=377025">[% terms.Bug %] 377025</a>,
     <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=412943">[% terms.Bug %] 412943</a>,
     <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=413672">[% terms.Bug %] 413672</a> ve
     <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=431721">[% terms.Bug %] 431721</a>)</li>

  <li>checksetup.pl artık yükseltme sırasında UTF-8 dönüşümünü daha düzgün yapıyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=374951">[% terms.Bug %] 374951</a>)</li>

  <li>Uzak Doğu dillerinde yazılan yorumlar artık satır sonlarında doğru yerlerden kesiliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=388723">[% terms.Bug %] 388723</a>)</li>

  <li>Kullanıcı epostalar için bir dil seçtiğinde artık tüm epostalar doğru dilde gönderiliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=405946">[% terms.Bug %] 405946</a>)

  <li>Windowa'da ek yükleme sırasında oluşturulan geçici dosyalar yükleme işlemi tamamlandığında doğru şekilde siliniyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=414002">[% terms.Bug %] 414002</a>)</li>

  <li><kbd>checksetup.pl</kbd> artık Perl 5.10 kullanan Windows kullanıcıları için doğru yönergeler yazıyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=414430">[% terms.Bug %] 414430</a>)
</ul>

<p>Ayrıca bu sürümde düzeltilen güvenlik problemleri ile ilgili olarak da <a href="#v30_security">Güvenlik Bildirileri</a> bölümüne bakın.</p>

<h3>3.0.3</h3>

<ul>
  <li>mod_perl artık her Apache süreci için [% terms.Bugzilla %] kodu derlemiyor, sadece bir kez derleyip tüm süreçlerde aynı derlenmiş kodu kullanıyor. Bu performansı büyük oranda etkiliyor ve hafıza kullanımını azaltıyor.
   (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=398241">[% terms.Bug %] 398241</a>)</li>

  <li>Artık sürüm ve aşamalarda '---' (tırnaksız olarak) arayabiliyorsunuz.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=362436">[% terms.Bug %] 362436</a>)</li>

  <li>[% terms.Bugzilla %] artık eposta konu kısımlarında satır bölmüyor. Önceki davranış bazı eposta istemcilerinde problemlere neden oluyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=374424">[% terms.Bug %] 374424</a>)</li>

  <li>Eğer eposta tercihlerinizde "haber verilecekler" rolü için "buna eklendiğimde ya da çıkarıldığımda" seçeneğini işaretlemişseniz, haber verilecekler listesine bir kerede birden fazla kişi eklendiğinde ilgili eposta gönderilmiyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=394796">[% terms.Bug %] 394796</a>)</li>

  <li>Kullanıcı hesaplarını silmek artık o kullanıcıyı alıcı olarak belirlemiş kullanıcıların alarmlarını silmiyor. Takvim siliniyor fakat alarmlar tutuluyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=395924">[% terms.Bug %] 395924</a>)</li>

  <li><kbd>contrib/merge-users.pl</kbd> artık iki kullanıcı hesabını birleştirirken zorunlu tüm alanları doğru şekilde birleştiriyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=400160">[% terms.Bug %] 400160</a>)</li>

  <li>[% terms.Bugzilla %] artık mod_perl altında çalışabilmek için Apache::DBI'a gerek duymuyor. Veritabanı bağlantılarının kaybedilmesi gibi problemlere neden oluyordu ve hatırı sayılır bir performans artışı katmıyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=408766">[% terms.Bug %] 408766</a>)</li>
</ul>

<h3>3.0.2</h3>

<ul>
  <li>[% terms.Bugzilla %] Perl 5.9.5 (dolayısıyla da Perl 5.10.0) ile sorunsuz çalışıyor olmalı.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=390442">[% terms.Bug %] 390442</a>)</li>
</ul>

<p>Ayrıca bu sürümde düzeltilen güvenlik problemleri ile ilgili olarak da <a href="#v30_security">Güvenlik Bildirileri</a> bölümüne bakın.</p>

<h3>3.0.1</h3>

<ul>
  <li>Firefox 2 kullanırken, the <code>show_bug.cgi</code> artık [% terms.abugAcc %] değiştirdiğinizde dağılmamalı.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=370739">[% terms.Bug %] 370739</a>)</li>
  <li>Eğer bir grubu onaylayabiliyorsanız ve o grupla bir kayıtlı arama paylaşmışsınız artık siz özellikle istemedikten sonra o kayıtlı arama o grubun sayfa altlığında görünmüyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=365890">[% terms.Bug %] 365890</a>)</li>
  <li>Artık boş bir arama yapmaya, yani Basit Arama sayfasında sadece bir ürün ve durum aramaya olanak veren bir parametre bulunuyor. Parametre <code>specific_search_allow_empty_words</code>.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=385910">[% terms.Bug %] 385910</a>)</li>
  <li><code>text/x-patch</code> ya da <code>text/x-diff</code> türünde bir dosya eklerseniz, [% terms.Bugzilla %] tarafından otomatik olarak bir yama kabul edilir.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=365756">[% terms.Bug %] 365756</a>)</li>
  <li>Bağımlılık Grafikleri artık tüm mod_perl kurulumlarında düzgün çalışıyor. [%+ terms.Bugzilla %] mod_perl altında çalışırken kayda değer bir problem çıkarmaması gerekiyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=370398">[% terms.Bug %] 370398</a>)</li>
  <li>Eğer [% terms.abugAcc %] ürünler arasında taşımak [% terms.bugAbl %] bazı grupları çıkaracaksa, artık bu konuda bir uyarı veriliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=303183">[% terms.Bug %] 303183</a>)</li>
  <li>IIS'de, [% terms.Bugzilla %] bir uyarı verdiğinde, sayfada görünüyordu. Artık hatalar görüntülenmiyor; ama eğer <code>data</code> dizininde <code>errorlog</code> isminde bir dosya varsa, uyarılar oraya yazılıyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=390148">[% terms.Bug %] 390148</a>)</li>
  <li>Eğer gruplar tarafından korunan [% terms.abug %] üzerinde değişiklik yapmak için <kbd>email_in.pl</kbd> dosyasını kullandıysanız, tüm gruplar temizleniyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=385453">[% terms.Bug %] 385453</a>)</li>
  <li>PostgreSQL kullanıcıları: Yeni Çizelgeler veri toplamayı başaramıyordu. Artık doğru şekilde veri toplayabiliyorlar.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=257351">[% terms.Bug %] 257351</a>)</li>
  <li>Bazı bayrak epostaları bayrağı isteyenin kim olduğunu belirtmiyordu. 
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=379787">[% terms.Bug %] 379787</a>)</li>
  <li><kbd>collectstats.pl</kbd> gerçek hatalar basmak yerine <code>ThrowUserError</code>'u bulamadığını söylüyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=380709">[% terms.Bug %] 380709</a>)</li>
  <li>IIS5'te ana sayfadan [% terms.BugzillaDat %] oturum açmak yeniden çalışıyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=364008">[% terms.Bug %] 364008</a>)</li>
  <li>Eposta göndermek için SMTP kullanıyorsanız, bazen epostalarda <code>Date</code> başlığı bulunmuyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=304999">[% terms.Bug %] 304999</a>).</li>
  <li>XML-RPC WebService'de, özel alanların değerini istediyseniz <code>B<!-- -->ug.legal_values</code> artık özel alanların değerlerini doğru döndürüyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=381737">[% terms.Bug %] 381737</a>)</li>
  <li>"[% terms.Bug %] Yazma Kılavuzu" sayfası kısaltıldı ve yeniden yazıldı.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=378590">[% terms.Bug %] 378590</a>)</li>
  <li>Eğer <code>urlbase</code> parametresi <code>www.domain.com:8080</code> gibi bir port numarası içeriyorsa SMTP başarısızlıkla sonuçlanabiliyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=384501">[% terms.Bug %] 384501</a>)</li>
  <li>SMTP kullanıcıları için artık <code>smtp_debug</code> isminde yeni bir parametre bulunuyor. Bu parametre açıldığında, SMTP ile ilgili problemleri gidermek amacıyla, her SMTP oturumu hakkındaki tüm bilgi web sunucunun hata günlüğüne kaydediliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=384497">[% terms.Bug %] 384497</a>)</li>
  <li>Eğer "küresel" bir izleyici iseniz (her [% terms.bug %] hakkındaki tüm epostaları alıyorsanız, artık bu ayarı Eposta Tercihleri'nde görebiliyorsunuz.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=365302">[% terms.Bug %] 365302</a>)</li>
  <li>[% terms.BugsGen %] durum ve kararları artık CSV arama sonuçlarında doğru şekilde yerelleştiriliyor.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=389517">[% terms.Bug %] 389517</a>)</li>
  <li>Eğer bir epostanın "Konu" kısmında Latin alfabesi dışında karakterler bulunuyorsa konu parçalanıyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=387860">[% terms.Bug %] 387860</a>)</li>
  <li><kbd>editparams.cgi</kbd> kullanarak "languages" parametresini değiştirme işlemi bazen başarısız oluyordu ve [% terms.Bugzilla %] hata veriyordu.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=335354">[% terms.Bug %] 335354</a>)</li>
</ul>

<h2><a name="v30_req"></a>En Düşük Gereksinimler</h2>

<p>Sürüm 2.22'den sonra eklenen gereksinimler
  <span class="req_new">böyle</span> görünür.</p>

<ul>
  <li><a href="#v30_req_perl">Perl</a></li>
  <li><a href="#v30_req_mysql">MySQL Kullanıcıları İçin</a></li>
  <li><a href="#v30_req_pg">PostgreSQL Kullanıcıları İçin</a></li>
  <li><a href="#v30_req_modules">Gerekli Perl Modülleri</a></li>
  <li><a href="#v30_req_optional_mod">İsteğe Bağlı Perl
    Modülleri</a></li>
</ul>


<h3><a name="v30_req_perl"></a>Perl</h3>

<ul>
  <li>Perl <span class="req_new">sürüm <strong>5.8.0</strong></span> (Windows dışı platformlarda)</li>
  <li>Perl v<strong>5.8.1</strong> (Windows platformunda)</li>
</ul>

<h3><a name="v30_req_mysql"></a>MySQL Kullanıcıları İçin</h3>

<ul>
  <li>MySQL v4.1.2</li>
  <li><strong>perl modülü:</strong> DBD::mysql v2.9003</li>
</ul>

<h3><a name="v30_req_pg"></a>PostgreSQL Kullanıcıları İçin</h3>

<ul>
  <li>PostgreSQL sürüm 8.00.0000</li>
  <li><strong>perl modülü:</strong> DBD::Pg sürüm 1.45</li>
</ul>

<h3><a name="v30_req_modules"></a>Gerekli Perl Modülleri</h3>

<table class="req_table" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Modül</th> <th>Sürüm</th>
  </tr>
    <tr><td>CGI</td> <td>2.93</td>
  </tr>
  <tr>
    <td>Date::Format</td> <td>2.21</td>
  </tr>
  <tr>
    <td>DBI</td> 
    <td class="req_new">1.41</td>
  </tr>
  <tr>
    <td>File::Spec</td> <td>0.84</td>
  </tr>
  <tr>
    <td>Template</td> <td>2.12</td>
  </tr>
  <tr>
    <td class="req_new">Email::Send</td> 
    <td class="req_new">2.00</td>
  </tr>
  <tr>
    <td>Email::MIME</td> 
    <td>1.861</td>
  </tr>
  <tr>
    <td class="req_new">Email::MIME::Modifier</td> 
    <td class="req_new">1.442</td>
  </tr>
</table>

<h3><a name="v30_req_optional_mod"></a>İsteğe Bağlı Perl Modülleri</h3>

<p>Aşağıdaki Perl modülleri, eğer yüklüyseler, [% terms.BugzillaGen %] çeşitli özelliklerini açarlar:</p>

<table class="req_table" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Modül</th> <th>Sürüm</th>
    <th>Açtığı Özellik</th>
  </tr>
   <tr>
     <td class="req_new">LWP::UserAgent</td> 
     <td class="req_new">(Herhangi biri)</td> 
     <td>Otomatik Güncelleme Bildirimleri</td>
  </tr>
  <tr>
    <td>Template::Plugin::GD::Image</td> 
    <td>(Herhangi bir)</td> 
    <td>Grafik Raporlar</td>
  </tr>
  <tr>
    <td>GD::Graph</td> 
    <td>(Herhangi bir)</td> 
    <td>Grafik Raporlar</td>
  </tr>
  <tr>
    <td>GD::Text</td> 
    <td>(Herhangi biri)</td> 
    <td>Grafik Raporlar</td>
  </tr>
  <tr>
    <td>GD</td> 
    <td>1.20</td> 
    <td>Grafik Raporlar, Yeni Çizelgeler, Eski Çizelgeler</td>
  </tr>
  <tr>
    <td class="req_new">Email::MIME::Attachment::Stripper</td> 
    <td class="req_new">(Herhangi biri)</td> 
    <td>Gelen Eposta</td>
  </tr>
  <tr>
    <td class="req_new">Email::Reply</td> 
    <td class="req_new">(Herhangi biri)</td> 
    <td>Gelen Eposta</td>
  </tr>
  <tr>
    <td>Net::LDAP</td> 
    <td>(Herhangi biri)</td> 
    <td>LDAP Kimlik Doğrulama</td>
  </tr>
  <tr>
    <td>HTML::Parser</td> 
    <td>3.40</td> 
    <td>Ürün ve Grup açıklamalarında daha fazla HTML</td>
  </tr>
  <tr>
    <td>HTML::Scrubber</td> 
    <td>(Herhangi biri)</td> 
    <td>Ürün ve Grup açıklamalarında daha fazla HTML</td>
  </tr>
  <tr>
    <td>XML::Twig</td> 
    <td>(Herhangi biri)</td> 
    <td>[% terms.BugsPluAcc %] kurulumlar arasında taşıma</td>
  </tr>
  <tr>
    <td>MIME::Parser</td> 
    <td>5.406</td> 
    <td>[% terms.BugsPluAcc %] kurulumlar arasında taşıma</td>
  </tr>
  <tr>
    <td>Chart::Base</td> 
    <td>1.0</td> 
    <td>Yeni Çizelgeler, Eski Çizelgeler</td>
  </tr>
  <tr>
    <td>Image::Magick</td> 
    <td>(Herhangi biri)</td> 
    <td>BMP resimleri PNG'ye dönüştürme</td>
  </tr>
  <tr>
    <td>PatchReader</td> 
    <td>0.9.4</td> 
    <td>Patch Viewer</td>
  </tr>
  <tr>
    <td class="req_new">SOAP::Lite</td> 
    <td class="req_new">(Herhangi biri)</td> 
    <td>XML-RPC Arayüzü</td>
  </tr>
  <tr>
    <td class="req_new">mod_perl2</td> 
    <td class="req_new">1.999022</td> 
    <td>mod_perl</td>
  </tr>
  <tr>
    <td>CGI</td> 
    <td>3.11</td> 
    <td>mod_perl</td>
  </tr>
</table>

<h2><a name="v30_feat"></a>Yeni Özellikler ve Geliştirmeler</h2>

<ul>
  <li><a href="#v30_feat_cf">Özel Alanlar</a></li>
  <li><a href="#v30_feat_mp">mod_perl Desteği</a></li>
  <li><a href="#v30_feat_sq">Paylaşılabilen Kayıtlı Aramalar</a></li>
  <li>
    <a href="#v30_feat_afn">Yeni [% terms.BugsPluLoc %] Ekler ve Bayraklar</a>
  </li>
  <li><a href="#v30_feat_cr">Özel Kararlar</a></li>
  <li><a href="#v30_feat_ppp">Ürüne Özel İzinler</a></li>
  <li><a href="#v30_feat_ui">Kullanıcı Arayüzü İyileştirmeleri</a></li>
  <li><a href="#v30_feat_xml">XML-RPC Arayüzü</a></li>
  <li><a href="#v30_feat_skin">Deriler</a></li>
  <li><a href="#v30_feat_sbu">Değiştirilemez Alanların Değiştirilemez Olarak Görünmesi</a></li>
  <li><a href="#v30_feat_et">Tüm Epostaların Şablonlara Taşınması</a></li>
  <li><a href="#v30_feat_df">[% terms.BugsPluGen %] İki Kez Kaydedilmemesi</a></li>
  <li><a href="#v30_feat_cc">Bileşenlere Varsayılan Haber Verilecekler Listesi Atanabilmesi</a></li>
  <li><a href="#v30_feat_emi">Epostayla [% terms.Bug %] Raporlayabilme ve Değiştirebilme</a></li>
  <li><a href="#v30_feat_gw">Tüm [% terms.Bug %] Bildirimlerini Alan Kullanıcılar</a></li>
  <li><a href="#v30_feat_utf8">Geliştirilmiş UTF-8 Desteği</a></li>
  <li><a href="#v30_feat_upda">Otomatik Güncelleme Bildirimi</a></li>
  <li><a href="#v30_feat_welc">Yeni Kurulumlarda 'Hoşgeldiniz' Sayfası</a></li>
  <li><a href="#v30_feat_other">Diğer İyileştirmeler ve Değişiklikler</a></li>
</ul>

<h3><a name="v30_feat_cf"></a>Özel Alanlar</h3>

<p>[% terms.Bugzilla %] artık çok temel de olsa özel alan desteği içeriyor.</p>

<p><kbd>admin</kbd> grubundaki kullanıcılar salt metin ya da açılır listeli özel alanlar ekleyebiliyor. Açılır listeli alanların alabileceği değerleri &quot;Alan Değerleri&quot; yönetim panelinden değiştirebilirsiniz.</p>

<p>Fazla özel alan eklemeyin! [% terms.BugzillaGen %] kullanımını zorlaştırabilir. Öntanımlı alanlarla idare etmek için elinizden geleni yapın ve [% terms.BugzillaAcc %] bu şekilde birkaç hafta kullandıktan sonra eğer o özel alanlar olmadan yapamayacağınıza eminseniz özel alanlar ekleyin.</p>

<h3><a name="v30_feat_mp"></a>mod_perl Desteği</h3>

<p>[% terms.Bugzilla %] 3.0 mod_perl destekliyor ve bu da sayfa yükleme performansının çok artmasını sağlıyor. mod_perl daha fazla hafıza kullanarak performansın artmasını sağlıyor ve sayfaların neredeyse anında yüklenmesine olanak veriyor.</p>

<p>Eğer [% terms.Bugzilla %] kurulumunuzda mod_perl'ü açmak istiyorsanız, en az 1.5 GB RAM öneririz; eğer sitenizin trafiği oldukça yüksekse 4 ila 8 GB RAM tavsiye ediyoruz.</p>

<p>Eğer kurulumunuzda performans o kadar önemli değilse, yeterli hafıza yoksa ya da Apache dışında bir web sunucu kullanıyorsanız bile, [% terms.Bugzilla %] normal bir CGI uygulaması olarak sorunsuz çalışacaktır.</p>

<h3><a name="v30_feat_sq"></a>Paylaşılabilen Kayıtlı Aramalar</h3>

<p>Kullanıcılar artık &quot;share&quot; kayıtlı aramalarını belirli bir grupla paylaşabiliyor. O grup o aramalara &quot;abone&quot; olabiliyor ve sayfalarının altlığında görüntüleyebiliyorlar.</p>

<p>Eğer paylaşan o gruba kullanıcı ekleyebiliyorsa, o grubun yöneticisi olarak kabul edilir ve sorguları otomatik olarak o grubun sayfa altlığında görünür. (Elbette istedikleri aramaların aboneliğinde çıkabilirler.)</p>

<p>Kullanıcının sorgularını paylaşabilmesi için <code>querysharegroup</code> parametresindw belirtilen gruba üye olması gerekir.</p>

<p>Kullanıcılar paylaştıkları ve abone oldukları sorguları &quot;Tercihler&quot; sayfasından değiştirebilirler.</p>

<h3><a name="v30_feat_afn"></a>Yeni [% terms.BugsPluLoc %] Ekler ve Bayraklar</h3>

<p>Artık yeni [% terms.abug %] raporlarken ekler oluşturabilirsiniz..</p>

<p>Ayrıca yeni [% terms.abug %] raporlarken [% terms.bugDat %] ve eklere bayraklar atayabilirsiniz.</p>

<h3><a name="v30_feat_cr"></a>Özel Kararlar</h3>

<p>Artık (öntanımlı kararların ismini değiştirmek de dahil) [% terms.Bugzilla %] karar listesini özelleştirebilirsiniz.</p>

<p>Fakat <code>FIXED</code> (DÜZELTİLDİ), <code>DUPLICATE</code> (AYNISI)
  ve <code>MOVED</code> (TAŞINDI) özel anlam içerdiği için isimleri değiştirilemez ve silinemez.</p>

<h3><a name="v30_feat_ppp"></a>Ürüne Özel İzinler</h3>

<p>Artık kullanıcılara sadece belirli ürünler için <kbd>editbugs</kbd> ve <kbd>canconfirm</kbd> izinleri verebilirsiniz. Kullanıcılara üründe <kbd>editcomponents</kbd> izni de verebiliyorsunuz, böylece o ürüne bileşen ekleme ya da üründen bileşen silme gibi o ürünle ilgili işlemleri yapabiliyorlar.</p>

<h3><a name="v30_feat_ui"></a>Kullanıcı Arayüzü İyileştirmeleri</h3>

<p>[% terms.Bugzilla %] 3.0 kullanıcı arayüzünde bazı iyileştirmele yapıldı:</p>

<ul>
  <li>Sayfanın altındaki çubuğa ek olarak, her sayfanın <em>üst</em> kısmına bir dolaşma paneli ve arama kutusu eklenti.</li>
  <li>[% terms.BugsPluGen %] &quot;Yazıcı Dostu Görüntüleme&quot; sayfası yeniden tasarlandı.</li>
  <li><kbd>show_bug.cgi</kbd> ([% terms.bug %] görüntüleme sayfası) yerleşimi değiştirildi ve ek tablosu yeniden tasarlandı.</li>
</ul>

<h3><a name="v30_feat_xml"></a>XML-RPC Arayüzü</h3>

<p>[% terms.BugzillaGen %] artık XML-RPC protokülünü kullanan bir web servisleri (Web Services) arayüzü bulunuyor. Harici uygulamalar kurulumunuzdaki <kbd>xmlrpc.cgi</kbd> üzerinden servise ulaşabilirler.</p>

<p>İlgili belgelendirmeye <a href="[% docs_urlbase FILTER html %]api/">[% terms.Bugzilla %] 
  API Belgeleri</a>'nde <kbd>Bugzilla::WebService</kbd> modüllerinde ulaşabilirsiniz.</p>

<h3><a name="v30_feat_skin"></a>Deriler</h3>

<p>[% terms.BugzillaLoc %] birden fazla &quot;deri&quot; bulunabilir ve kullanıcılar bu derilerden istediklerini seçebilirler. Bir deri hazırlamak için, birkaç CSS dosyası hazırlamanız yeterli olacaktır. Bu konuda daha fazla bilgi için <a href="[% docs_urlbase FILTER html %]cust-skins.html">Özel Deriler Belgelendirmesi</a>'ne bakabilirsiniz.</p>

<p>Henüz [% terms.Bugzilla %] ile yüklü gelen deriler bulunmuyor. Eğer siz bir deri yazarsanız, lütfen bize haber verin!</p>

<h3><a name="v30_feat_sbu"></a>Değiştirilemez Alanların Değiştirilemez Olarak Görünmesi</h3>

<p>Oturumunuz açık olduğu süre zarfında, [% terms.abugDat %] bakarken, eğer bir alanı değiştiremiyorsanız, değiştirebiliyormuşsunuz gibi görünmeyecek, yani onu düz metin olarak göreceksiniz.</p>

<h3><a name="v30_feat_et"></a>Tüm Epostaların Şablonlara Taşınması</h3>

<p>Artık gönderilen epostaların tamamı şablon sistemiyle kontrol ediliyor. Eskiden birer parametre olan <code>passwordmail</code>, <code>whinemail</code>,
  <code>newchangedmail</code> ve <code>voteremovedmail</code> artık <kbd>template/</kbd> dizininde birer şablon olarak bulunuyor.</p>

<p>Bu, gönderilen epostaları istediğiniz şekilde özelleştirmenin çok daha kolay olduğu anlamına geliyor. Ayrıca yerelleştirme ekipleri de dil paketlerinin bir parçası olarak epostaları daha iyi yerelleştirebiliyorlar.</p>

<p>Ayrıca [%+ terms.BugzillaGen %] gönderdiği tüm epostalarda <code>Gönderen</code> alanında görünecek kişiyi belirleyebilmeniz için bir de code>mailfrom</code> parametresi ekledik.</p>

<h3><a name="v30_feat_df"></a>[% terms.BugsPluGen %] İki Kez Kaydedilmemesi</h3>

<p>[% terms.Bugzilla %] kullanıcıları bazen web tarayıcılarında bir önceki sayfaya giderek ya da sayfayı tazeleyerek [% terms.abugGen %] iki kere gönderebilir. Geçmişte, bu geliştiricileri rahatsız edecek ve kullanıcıların kafasını karıştıracak şekilde aynı [% terms.bugGen %] arka arkaya iki kere (hâttâ bazen üç kere) gönderilmesine neden olabiliyordu.</p>

<p>Artık, eğer [% terms.abugAcc %] aynı ekrandan (bir önceki sayfaya giderek ya da sayfayı tazeleyerek) iki kere göndermeye kalktığınızda [% terms.Bugzilla %] aynı [%+ terms.bugAbl %] ikinci bir kopya oluşturmadan önce kullanıcıyı uyarıyor.</p>

<h3><a name="v30_feat_cc"></a>Bileşenlere Varsayılan Haber Verilecekler Listesi Atanabilmesi</h3>

<p>Bir bileşendeki tüm yeni [% terms.bugsPluGen %] haber verilecekler listesine <em>her zaman</em> eklenecek kullanıcılar belirtebilirsiniz.</p>

<h3><a name="v30_feat_emi"></a>File/Modify [% terms.Bugs %] By Email</h3>

<p>You can now file or modify [% terms.bugs %] via email. Previous versions
  of [% terms.Bugzilla %] included this feature only as an
  unsupported add-on, but it is now an official interface to
  [%+ terms.Bugzilla %].</p>

<p>For more details see the <a href="[% docs_urlbase FILTER html %]api/email_in.html">documentation
  for email_in.pl</a>.</p>

<h3><a name="v30_feat_gw"></a>Users Who Get All [% terms.Bug %] 
  Notifications</h3>

<p>There is now a parameter called <kbd>globalwatchers</kbd>. This
  is a comma-separated list of [% terms.Bugzilla %] users who will
  get all [% terms.bug %] notifications generated by [% terms.Bugzilla %].</p>

<p>Group controls still apply, though, so users who can't see a [% terms.bug %]
  still won't get notifications about that [% terms.bug %].</p>

<h3><a name="v30_feat_utf8"></a>Geliştirilmiş UTF-8 Desteği</h3>

<p>[% terms.Bugzilla %] users running MySQL should now have excellent
  UTF-8 support if they turn on the <kbd>utf8</kbd> parameter. (New
  installs have this parameter on by default.) [% terms.Bugzilla %]
  now correctly supports searching and sorting in non-English languages,
  including multi-bytes languages such as Chinese.</p>

<h3><a name="v30_feat_upda"></a>Automatic Update Notification</h3>

<p>If you belong to the <kbd>admin</kbd> group, you will be notified
  when you log in if there is a new release of [% terms.Bugzilla %]
  available to download.</p>

<p>You can control these notifications by changing the 
  <kbd>upgrade_notification</kbd> parameter.</p>

<p>If your [% terms.Bugzilla %] installation is on a machine that needs to go
  through a proxy to access the web, you may also have to set the
  <kbd>proxy_url</kbd> parameter.</p>

<h3><a name="v30_feat_welc"></a>Welcome Page for New Installs</h3>

<p>When you log in for the first time on a brand-new [% terms.Bugzilla %]
  installation, you will be presented with a page that describes
  where you should go from here, and what parameters you should set.</p>

<h3><a name="v30_feat_qs"></a>QuickSearch Plugin for IE7 and Firefox 2</h3>

<p>Firefox 2 users and Internet Explorer 7 users will be presented
  with the option to add [% terms.Bugzilla %] to their search bar.
  This uses the 
  <a href="page.cgi?id=quicksearch.html">QuickSearch syntax</a>.</p>

<h3><a name="v30_feat_other"></a>Diğer İyileştirmeler ve Değişiklikler</h3>

<p>These are either minor enhancements, or enhancements that have
  very short descriptions. Some of these are very useful, though!</p>

<h4>Enhancements That Affect [% terms.Bugzilla %] Users</h4>

<ul>
  <li>In comments, quoted text (lines that start with <kbd>&gt;</kbd>)
    will be a different color from normal text.</li>
  <li>There is now a user preference that will add you to the CC list
    of any [% terms.bug %] you modify. Note that it's <strong>on</strong> 
    by default.</li>
  <li>[% terms.Bugs %] can now be filed with an initial state of 
    <kbd>ASSIGNED</kbd>, if you are in the <kbd>editbugs</kbd> group.</li>
  <li>By default, comment fields will zoom large when you are typing in them,
    and become small when you move out of them. You can disable this
    in your user preferences.</li>
  <li>You can hide obsolete attachments on [% terms.abug %] by clicking
    &quot;Hide Obsolete&quot; at the bottom of the attachment table.</li>
  <li>If a [% terms.bug %] has flags set, and you move it to a different 
    product that has flags with the same name, the flags will be 
    preserved.</li>
  <li>You now can't request a flag to be set by somebody who can't set it
    ([% terms.Bugzilla %] will throw an error if you try).</li>
  <li>Many new headers have been added to outbound [% terms.Bugzilla %]
    [%+ terms.bug %] emails: <code>X-Bugzilla-Status</code>,
    <code>X-Bugzilla-Priority</code>, <code>X-Bugzilla-Assigned-To</code>,
    <code>X-Bugzilla-Target-Milestone</code>, and 
    <code>X-Bugzilla-Changed-Fields</code>, <code>X-Bugzilla-Who</code>.
    You can look at an email to get an idea of what they contain.</li>
  <li>In addition to the old <code>X-Bugzilla-Reason</code> email header
    which tells you why you got an email, if you got an email because
    you were watching somebody, there is now an 
    <code>X-Bugzilla-Watch-Reason</code> header that tells you who you
    were watching and what role they had.</li>
  <li>If you hover your mouse over a full URL (like 
    <code>http://bugs.mycompany.com/show_bug.cgi?id=1212</code>) that 
    links to [% terms.abug %], you will see the title of the 
    [%+ terms.bug %]. Of course, this only works for [% terms.bugs %] in your
    [%+ terms.Bugzilla %] installation.</li>
  <li>If your installation has user watching enabled, you will now see
    the users that you can remove from your watch-list as a multi-select
    box, much like the current CC list. (Previously it was just a text
    box.)</li>
  <li>When a user creates their own account in [% terms.Bugzilla %], the 
    account is now not actually created until they verify their email
    address by clicking on a link that is emailed to them.</li>
  <li>You can change [% terms.abug %]'s resolution without reopening it.</li>
  <li>When you view the dependency tree on [% terms.abug %], resolved 
    [%+ terms.bugs %] will be hidden by default. (In previous versions,
    resolved [% terms.bugs %] were shown by default.)</li>
  <li>When viewing [% terms.bug %] activity, fields that hold [% terms.bug %] 
    numbers (such as &quot;Blocks&quot;) will have the [% terms.bug %] numbers
    displayed as links to those [% terms.bugs %].</li>
  <li>When viewing the &quot;Keywords&quot; field in a [% terms.bug %] list,
    it will be sorted alphabetically, so you can sanely sort a list on
    that field.</li>
  <li>In most places, the Version field is now sorted using a version-sort
    (so 1.10 is greater than 1.2) instead of an alphabetical sort.</li>
  <li>Options for flags will only appear if you can set them. So, for
    example, if you can't grant <kbd>+</kbd> on a flag, that option
    won't appear for you.</li>
  <li>You can limit the product-related output of <kbd>config.cgi</kbd>
    by specifying a <kbd>product=</kbd> URL argument, containing the name
    of a product. You can specify the argument more than once for multiple
    products.</li>
  <li>You can now search the boolean charts on whether or not a comment
    is private.</li>
</ul>

<h4>Enhancements For Administrators</h4>

<ul>
  <li>Administrators can now delete attachments, making them disappear
    entirely from [% terms.Bugzilla %].</li>
  <li><kbd>sanitycheck.cgi</kbd> can now only be accessed by users
    in the <kbd>editcomponents</kbd> group.</li>
  <li>The &quot;Field Values&quot; control panel can now only be accessed
    by users in the <kbd>admin</kbd> group. (Previously it was accessible
    to anybody in the <kbd>editcomponents</kbd> group.)</li>
  <li>There is a new parameter <kbd>announcehtml</kbd>, that will allow
    you to enter some HTML that will be displayed at the top of every
    page, as an announcement.</li>
  <li>The <kbd>loginnetmask</kbd> parameter now defaults to 0 for new
    installations, meaning that as long as somebody has the right
    login cookie, they can log in from any IP address. This makes
    life a lot easier for dial-up users or other users whose IP
    changes a lot. This could be done because the login cookie is now
    very random, and thus secure.</li>
  <li>Classifications now have sortkeys, so they can be sorted in an
    order that isn't alphabetical.</li>
  <li>Authentication now supports LDAP over SSL (LDAPS) or TLS (using
    the STARTLS command) in addition to plain LDAP.</li>
  <li>LDAP users can have their LDAP username be their email address,
    instead of having the LDAP <kbd>mail</kbd> attribute be their
    email address. You may wish to set the <kbd>emailsuffix</kbd>
    parameter if you do this.</li>
  <li>Administrators can now see what has changed in a user account,
    when using the &quot;Users&quot; control panel.</li>
  <li><code>REMIND</code> and <code>LATER</code> are no longer part
    of the default list of resolutions. Upgrading installations will
    not be affected--they will still have these resolutions.</li>
  <li><kbd>editbugs</kbd> is now the default for the <kbd>timetrackinggroup</kbd>
    parameter, meaning that time-tracking will be on by default in a new
    installation.</li>
</ul>

<h2><a name="v30_issues"></a>Problem Oluşturabilecek Noktalar</h2>

<ul>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=69621">
    [%- terms.Bug %] 69621</a>: If you rename or remove a keyword that is
    in use on [% terms.bugs %], you will need to rebuild the "keyword cache"
    by running <a href="sanitycheck.cgi">sanitycheck.cgi</a> and choosing 
    the option to rebuild the cache when it asks. Otherwise keywords may 
    not show up properly in search results.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=99215">
    [%- terms.Bug %] 99215</a>: Flags are not protected by "mid-air 
    collision" detection. Nor are any attachment changes.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=89822">
    [%- terms.Bug %] 89822</a>: When changing multiple [% terms.bugs %] at 
    the same time, there is no "mid-air collision" protection.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=276230">
    [%- terms.Bug %] 276230</a>: The support for restricting access to 
    particular Categories of Yeni Çizelgeler is not complete. You should treat 
    the 'chartgroup' Param as the only access mechanism available.<br>
    However, charts migrated from Eski Çizelgeler will be restricted to 
    the groups that are marked MANDATORY for the corresponding Product.
    There is currently no way to change this restriction, and the 
    groupings will not be updated if the group configuration
    for the Product changes.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=370370">
    [%- terms.Bug %] 370370</a>: mod_perl support is currently not
    working on Windows machines.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=361149">
    [%- terms.Bug %] 361149</a>: If you are using Perl 5.8.0, you may
    get a lot of warnings in your Apache error_log about "deprecated
    pseudo-hashes." These are harmless--they are a b[%# fool test %]ug in 
    Perl 5.8.0. Perl 5.8.1 and later do not have this problem.</li>
  <li>[% terms.Bugzilla %] 3.0rc1 allowed custom field column names in 
    the database to be mixed-case. [% terms.Bugzilla %] 3.0 only allows
    lowercase column names. It will fix any column names that you have
    made mixed-case, but if you have custom fields that previously were
    mixed-case in any Saved Search, you will have to re-create that Saved
    Search yourself.</li>
</ul>

<h2><a name="v30_security"></a>Security Updates in This Release</h2>

<h3>3.0.6</h3>

<p>[% terms.Bugzilla %] contains a minor security fix. For details, see the
  <a href="http://www.bugzilla.org/security/2.20.6/">Security Advisory</a>.</p>

<h3>3.0.5</h3>

<p>[% terms.Bugzilla %] contains one security fix for 
  <a href="[% docs_urlbase FILTER html %]api/importxml.html">importxml.pl</a>.
  For details, see the 
  <a href="http://www.bugzilla.org/security/2.22.4/">Security Advisory</a>.</p>

<h3>3.0.4</h3>

<p>[% terms.Bugzilla %] 3.0.4 contains three security fixes.
  For details, see the
  <a href="http://www.bugzilla.org/security/2.20.5/">Security Advisory</a>.</p>
</p>

<h3>3.0.3</h3>

<p>No security fixes in this release.</p>

<h3>3.0.2</h3>

<p>[% terms.Bugzilla %] 3.0.1 had an important security fix that is
  critical for public installations with "requirelogin" turned on.
  For details, see the
  <a href="http://www.bugzilla.org/security/3.0.1/">Security Advisory</a></p>

<h3>3.0.1</h3>

<p>[% terms.Bugzilla %] 3.0 had three security issues that have been
  fixed in this release: one minor information leak, one hole only
  exploitable by an admin or using <code>email_in.pl</code>, and one in an
  uncommonly-used template. For details, see the 
  <a href="http://www.bugzilla.org/security/2.20.4/">Security Advisory</a>.</p>

<h2><a name="v30_upgrading"></a>Eski Bir Sürümden Nasıl Yükseltilir</h2>

<h3><a name="v30_upgrading_notes"></a>Notes For Upgraders</h3>

<ul>
  <li>If you upgrade by CVS, there are several .cvsignore files
    that are now in CVS instead of being locally created by 
    <kbd>checksetup.pl</kbd>. This means that you will have to
    delete those files when CVS tells you there's a conflict, and
    then run <kbd>cvs update</kbd> again.</li>
  <li>In this version of [% terms.Bugzilla %], the Summary field
    is now limited to 255 characters. When you upgrade, any Summary
    longer than that will be truncated, and the old summary will be
    preserved in a comment.</li>
  <li>If you have the <kbd>utf8</kbd> parameter turned on, at some
    point you will have to convert your database. <kbd>checksetup.pl</kbd>
    will tell you when this is, and it will give you certain instructions
    at that time, that you have to follow before you can complete
    the upgrade. Don't do the conversion yourself manually--follow
    the instructions of checksetup.pl.</li>
  <li>If you ever ran 2.23.3, 2.23.4, or 3.0rc1, you will have to run
    <kbd>./collectstats.pl --regenerate</kbd> at the command line, because
    the data for your Eski Çizelgeler is corrupted. This can take several days,
    so you may only want to run it if you use Eski Çizelgeler.</li>
  <li>You should also read the Problem Oluşturabilecek Noktalar sections of
    <a href="#v30_previous">older release notes</a> if you are upgrading
    from a version lower than 2.22.</li>
</ul>

<h3>Steps For Upgrading</h3>

<p>Once you have read the notes above, see the 
  <a href="[% docs_urlbase FILTER html %]upgrade.html">Upgrading 
  documentation</a> for instructions on how to upgrade.</p>

<h2><a name="v30_code_changes"></a>Code Changes Which May Affect 
  Customizations</h2>

<ul>
  <li><a href="#v30_code_loc"><strong>Packagers:</strong> Location
    Variables Have Moved</a></li>
  <li><a href="#v30_code_hooks">Hooks!</a></li>
  <li><a href="#v30_code_api">API Documentation</a></li>
  <li><a href="#v30_code_globals">Elimination of globals.pl</a></li>
  <li><a href="#v30_code_scope">Cleaned Up Variable Scoping Issues</a></li>
  <li><a href="#v30_code_sql">No More SendSQL</a></li>
  <li><a href="#v30_code_auth">Auth Re-write</a></li>
  <li><a href="#v30_code_obj">Bugzilla::Object</a></li>
  <li><a href="#v30_code_req">Bugzilla-&gt;request_cache</a></li>
  <li><a href="#v30_code_other">Other Changes</a></li>
</ul>

<h3><a name="v30_code_loc"></a><strong>Packagers:</strong> Location
    Variables Have Moved</h3>

<p>In previous versions of [% terms.Bugzilla %], <kbd>Bugzilla::Config</kbd>
  held all the paths for different things, such as the path to localconfig
  and the path to the <kbd>data/</kbd> directory.</p>

<p>Now, all of this data is stored in a subroutine,
  <kbd>Bugzilla::Constants::bz_locations</kbd>.</p>

<p>Also, note that for mod_perl, <kbd>bz_locations</kbd> must return
  <em>absolute</em> (not relative) paths. There is already code in that
  subroutine to help you with this.</p>

<h3><a name="v30_code_hooks"></a>Hooks!</h3>

<p>[% terms.Bugzilla %] now supports a code hook mechanism. See the 
  documentation for 
  <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Hook.html">Bugzilla::Hook</a>
  for more details.</p>

<p>This gives [% terms.Bugzilla %] very advanced plugin support. You can
  hook templates, hook code, add new parameters, and use the XML-RPC
  interface. So we'd like to see some [% terms.Bugzilla %] plugins
  written! Let us know on the <a href="http://bugzilla.org/cgi-bin/mj_wwwusr?func=lists-long-full&amp;extra=developers">developers&#64;bugzilla.org</a>
  mailing list if you write a plugin.</p>

<p>If you need more hooks, please 
  <a href="http://www.bugzilla.org/developers/reporting_bugs.html">File a
  bug</a>!</p>

<h3><a name="v30_code_api"></a>API Documentation</h3>

<p>[% terms.Bugzilla %] now ships with all of its perldoc built
  as HTML. Go ahead and read the
  <a href="[% docs_urlbase FILTER html %]api/">API Documentation</a>
  for all of the [% terms.Bugzilla %] modules now! Even scripts like
  <kbd>checksetup.pl</kbd> have HTML documentation.</p>

<h3><a name="v30_code_globals"></a>Elimination of globals.pl</h3>

<p>The old file <kbd>globals.pl</kbd> has been eliminated.
  Its code is now in various modules. Each function went to the module
  that was appropriate for it.</p>

<p>Usually we filed [% terms.abug %] in 
  <a href="https://bugzilla.mozilla.org">bugzilla.mozilla.org</a> for
  each function we moved. You can search there for the old name of
  the function, and that should get you the information about what
  it's called now and where it lives.</p>

<h3><a name="v30_code_scope"></a>Cleaned Up Variable Scoping Issues</h3>

<p>In normal perl, you can have code like this:</p>
<pre>my $var = 0;
sub y { $var++ }</pre>

<p>However, under mod_perl that doesn't work. So variables are no
  longer &quot;shared&quot; with subroutines--instead all variables
  that a subroutine needs must be declared inside the subroutine itself.</p>

<h3><a name="v30_code_sql"></a>No More SendSQL</h3>

<p>The old <kbd>SendSQL</kbd> function and all of its companions are
  <strong>gone</strong>. Instead, we now use DBI for all database
  interaction.</p>

<p>For more information about how to use 
  <a href="http://search.cpan.org/perldoc?DBI">DBI</a> with 
  [% terms.Bugzilla %], see the 
  <a href="http://www.bugzilla.org/docs/developer.html#sql-sendreceive">Developer's
  Guide Section About DBI</a></p>

<h3><a name="v30_code_auth"></a>Auth Re-write</h3>

<p>The <kbd>Bugzilla::Auth</kbd> family of modules have been completely
  re-written. For details on how the new structure of authentication,
  read the 
  <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Auth.html">Bugzilla::Auth
  API docs</a>.</p>

<p>It should be very easy to write new authentication plugins, now.</p>

<h3><a name="v30_code_obj"></a>Bugzilla::Object</h3>

<p>There is a new base class for most of our objects, 
  <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Object.html">Bugzilla::Object</a>.
  It makes it really easy to create new objects based on things that are 
  in the database.</p>

<h3><a name="v30_code_req"></a>Bugzilla-&gt;request-cache</h3>

<p><kbd>Bugzilla.pm</kbd> used to cache things like the database
  connection in package-global variables (like <kbd>$_dbh</kbd>).
  That doesn't work in mod_perl, so instead now there's a hash
  that can be accessed through <code>Bugzilla-&gt;request_cache</code>
  to store things for the rest of the current page request.</p>

<p>You shouldn't access <code>Bugzilla-&gt;request_cache</code> directly,
  but you should use it inside of <kbd>Bugzilla.pm</kbd> if you modify
  that. The only time you should be accessing it directly is if you need
  to reset one of the caches. Hash keys are always named after the function
  that they cache, so to reset the template object, you'd do:
  <code>delete Bugzilla-&gt;request_cache-&gt;{template};</code>.</p>

<h3><a name="v30_code_other"></a>Other Changes</h3>

<ul>
  <li><code>checksetup.pl</code> has been completely re-written, and most
    of its code moved into modules in the <kbd>Bugzilla::Install</kbd>
    namespace. See the
    <a href="[% docs_urlbase FILTER html %]api/checksetup.html">checksetup
    documentation</a> and <a href="https://bugzilla.mozilla.org/showdependencytree.cgi?id=277502&amp;hide_resolved=0">[% terms.Bugzilla %]
   [%+ terms.bug %] 277502</a> for details.</li>
  <li>Instead of <kbd>UserInGroup()</kbd>, all of [% terms.Bugzilla %] now 
    uses <kbd>Bugzilla-&gt;user-&gt;in_group</kbd></li>
  <li>mod_perl doesn't like dependency loops in modules, so we now have
    a test for that detects dependency loops in modules when you run
   <kbd>runtests.pl</kbd>.</li>
  <li><kbd>globals.pl</kbd> used to modify the environment variables,
    like <kbd>PATH</kbd>. That now happens in <kbd>Bugzilla.pm</kbd>.</li>
  <li>Templates can now link to the documentation more easily.
    See the <kbd>global/code-error.html.tmpl</kbd> and
    <kbd>global/user-error.html.tmpl</kbd> templates for examples.
    (Search for &quot;docslinks.&quot;)</li>
  <li>Parameters are accessed through <kbd>Bugzilla-&gt;params</kbd>
    instead of using the <kbd>Param()</kbd> function, now.</li>
  <li>The variables from the <kbd>localconfig</kbd> file are accessed
    through the <code>Bugzilla-&gt;localconfig</code> hash instead of through
    <kbd>Bugzilla::Config</kbd>.</li>
  <li><kbd>Bugzilla::BugMail::MessageToMTA()</kbd> has moved into its
    own module, along with other mail-handling code, called
    <kbd>Bugzilla::Mailer</kbd></li>
  <li>The <kbd>CheckCanChangeField()</kbd> subroutine in 
    <kbd>process_bug.cgi</kbd> has been moved to <kbd>Bugzilla::Bug</kbd>,
    and is now a method of a [% terms.bug %] object.</li>
  <li>The code that used to be in the <kbd>global/banner.html.tmpl</kbd>
    template is now in <kbd>global/header.html.tmpl</kbd>. The banner
    still exists, but the file is empty.</li>
</ul>

<h2><a name="v30_previous"></a>Önceki Sürümlerin Sürüm Notları</h2>

<p>Release notes for versions of [% terms.Bugzilla %] for versions
  prior to 3.0 are only available in text format: 
  <a href="[% docs_urlbase FILTER remove('html/$') FILTER html %]rel_notes.txt">Release Notes for [% terms.Bugzilla %] 2.22
  and Earlier</a>.</p>

[% INCLUDE global/footer.html.tmpl %]

[% BLOCK db_req %]
  [% SET m = DB_MODULE.$db %]
  <h3><a name="v32_req_[% db FILTER html %]"></a>For [% m.name FILTER html %] 
    Users</h3>

  <ul>
    <li>[% m.name FILTER html %]
       [%+ '<span class="req_new">' IF db_new %]v[% m.db_version FILTER html %]
       [% '</span>' IF db_new %]
       </li>
    <li><strong>perl module:</strong>
      [%+ m.dbd.module FILTER html %] 
      [% '<span class="req_new">' IF dbd_new %]v[% m.dbd.version FILTER html %]
      [% '</span>' IF dbd_new %]</li>
  </ul>
[% END %]


[% BLOCK req_table %]
  <table class="req_table" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>Module</th> <th>Version</th>
      [% IF include_feature %]
        <th>Enables Feature</th>
      [% END %]
    </tr>
    [% FOREACH req = reqs %]
      <tr>
        <td [% 'class="req_new"' IF new.contains(req.package) %]>
          [%- req.module FILTER html %]</td> 
        <td [% 'class="req_new"' IF updated.contains(req.package) 
                                    OR new.contains(req.package) %]>
          [%- IF req.version == 0 %]
            (Herhangi biri)
          [% ELSE %]
            [%- req.version FILTER html %]
          [% END %]
        </td>
        [% IF include_feature %] 
          <td>[% req.feature FILTER html %]</td>
        [% END %]
      </tr>
    [% END %]
</table>
[% END %]
