{% extends "base.html" %} 
{% block title %}Package Search{% endblock %}
{% block content %}
        <h2 align="center">Kullanım</h2>

	<table align="center">
	<tr>
		<th>Kullanım</th>
		<th>Anlamı</th>
	</tr>
	<tr>
		<td>ifade in:paket</td>
		<td>"ifade"yi "paket" içerisinde ara</td>

	</tr>
	<tr>
		<td>in:paket</td>
		<td>"paket" içindeki tüm yolları listele</td>
	</tr>
	<tr>
		<td>p:paket</td>

		<td>"paket"e benzeyen paketleri ara</td>
	</tr>
	<tr>
		<td>p:</td>
		<td>tüm paketleri listele</td>
	</tr>
	<tr>

		<td>ifade</td>
		<td>tüm paket içeriklerinde "ifade"yi ara.</td>
	</tr>
</table>
{% endblock %}