{% load i18n %}

{% extends "base.html" %}

{% block content %}
    <h2>[PLSA {{ advisory.plsa_id|escape }}] {{ advisory.title|escape }}</h2>
    <ul>
        <li><strong>{%trans "Severity" %}:</strong> {{ advisory.severity|escape }}</li>
        <li><strong>{%trans "Type" %}:</strong> {{ advisory.type|escape }}</li>
        <li><strong>{%trans "Release Date" %}:</strong> {{ advisory.release_date|escape }}</li>
    </ul>

    <h3>{% trans "Summary" %}</h3>
    {{ advisory.summary|escape }}

    <h3>{% trans "Description" %}</h3>
    {{ advisory.description|escape|linebreaks }}

    <h3>{% trans "Resolution" %}</h3>
    <p>
        {% blocktrans with advisory.get_package_names|join:", " as packages %}There are update(s) for {{ packages }}. You can update them via Package Manager or with a single command from console:{% endblocktrans %}
    </p>
    <pre><code>pisi up {{ advisory.get_package_names|join:" " }}</code></pre>

    <h3>{% trans "Packages" %}</h3>
    <ul>
        {% for package in advisory.get_packages %}
            <li>{{ package.0 }}, {% blocktrans with package.1 as version %}all before {{ version }}{% endblocktrans %}</li>
        {% endfor %}
    </ul>

    <h3>{% trans "References" %}</h3>
    <ul>
        {% for reference in advisory.get_references %}
            <li><a href="{{ reference }}">{{ reference }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block menu %}
    <a href="/{{ language }}/">{% trans "Homepage" %}</a>
    {% for year in years %}
        | <a href="/{{ language }}/{{ year }}/">{{ year }}</a>
    {% endfor %}
    | <a href="text/">{% trans "Printer Friendly Page" %}</a>
    {% for lang in other_languages %}
        | <a href="/{{ lang.code }}">{{ lang.name }}</a>
    {% endfor %}
{% endblock %}
