{% load i18n %}

{% extends "base.html" %}

{% block content %}
    <h2>{% trans "Latest Advisories" %}</h2>
    <ul>
    {% for object in object_list %}
        <li><a href="/{{ object.language.code }}/{{ object.plsa_id|escape }}/">[PLSA {{ object.plsa_id|escape }}] {{ object.title|escape }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block menu %}
    <a href="/{{ lang }}/">{% trans "Homepage" %}</a>
    {% for year in year_list %}
        | <a href="/{{ lang }}/{{ year }}/">{{ year }}</a>
    {% endfor %}
    {% for language in language_list %}
        | <a href="/{{ language.code }}">{{ language.name }}</a>
    {% endfor %}
{% endblock %}
