@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#adblock-toolbar-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/clear-lg.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#adblock-toolbar-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #adblock-toolbar-button {
  list-style-image: url("chrome://browser/skin/bookmarks/bookmarks-toolbar.png") !important;
  -moz-image-region: rect(0px 132px 22px 110px) !important;
}
toolbar[iconsize="small"] #adblock-toolbar-button:hover {
  -moz-image-region: rect(22px 132px 44px 110px) !important;
}
