/* ::::: All-In-One Search Button extension ::::: */
/* ::::: Developer:  Pcdingo - http://membres.lycos.fr/pcdingo/index.php3 ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* search button */

.allinonesearch-search-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/search-lg.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
.allinonesearch-search-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] .allinonesearch-search-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/search-sm.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] .allinonesearch-search-button:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

.allinonesearch-search-button-on {  
  list-style-image: url("chrome://browser/skin/extensions/icons/search-lg-on.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
.allinonesearch-search-button-on:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] .allinonesearch-search-button-on {
  list-style-image: url("chrome://browser/skin/extensions/icons/search-sm-on.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] .allinonesearch-search-button-on:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

/* highlight button */

.allinonesearch-highlight-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/highlighter-lg.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
.allinonesearch-highlight-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] .allinonesearch-highlight-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/highlighter-sm.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] .allinonesearch-highlight-button:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

.allinonesearch-highlight-button-on {
  list-style-image: url("chrome://browser/skin/extensions/icons/highlighter-lg-on.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
.allinonesearch-highlight-button-on:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] .allinonesearch-highlight-button-on {
  list-style-image: url("chrome://browser/skin/extensions/icons/highlighter-sm-on.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] .allinonesearch-highlight-button-on:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

/* adjust dropmarker position */

#allinonesearch-button > .toolbarbutton-menubutton-dropmarker {
  margin-left: -6px !important;
}
