/* ::::: Bookmarks Menu Button extension ::::: */
/* ::::: Developer:  Ronny Perinke - http://www.sephiroth-j.de/mozilla/ ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#bookmarks-menu-button {
  list-style-image: url("chrome://browser/skin/icons/bookmarks.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#bookmarks-menu-button:hover,
#bookmarks-menu-button[checked="true"] {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}
#bookmarks-menu-button[disabled="true"] {
  -moz-image-region: rect(64px 32px 96px 0px) !important;
}

toolbar[iconsize="small"] #bookmarks-menu-button {
  list-style-image: url("chrome://browser/skin/icons/bookmarks-small.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #bookmarks-menu-button:hover,
toolbar[iconsize="small"] #bookmarks-menu-button[checked="true"] {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}
toolbar[iconsize="small"] #bookmarks-menu-button[disabled="true"] {
  -moz-image-region: rect(44px 22px 66px 0px) !important;
}
