/* ::::: ChromEdit extension ::::: */
/* ::::: Developers:  Andrew Wooldridge and Chris Neale ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#ce-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/ce-32.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#ce-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #ce-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/ce-22.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #ce-button:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

/* tools menu icon support added for ChromEdit extension */
/* this overrides the default image installed by the extension */
#chromedit-fbtab,
#chromedit-moztab,
#chromedit-tbwin,
#chromedit-moz,
#chromedit-aviary {
  list-style-image: url("chrome://browser/skin/extensions/icons/ce-16.png") !important;
}