/* ::::: Compact Menu extension ::::: */
/* ::::: Developer:  Chris Neale ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#menu-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/compactmenu.png") !important;
  height: 15px !important;
  -moz-image-region: rect(0px 15px 15px 0px) !important;
}
#menu-button:hover,
#menu-button[checked="true"] {
  -moz-image-region: rect(15px 15px 30px 0px) !important;
}
