/* ::::: CookieCuller extension ::::: */
/* ::::: Developer:  Dan Yamaoka ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#cookieculler-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/cookie.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#cookieculler-button:hover {
 -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #cookieculler-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/cookie-small.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #cookieculler-button:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}