/* ::::: Go Up extension ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#goup-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/goup.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#goup-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}
#goup-button[disabled=true] {
  -moz-image-region: rect(64px 32px 96px 0px) !important;
}

toolbar[iconsize=small] #goup-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/goup-small.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize=small] #goup-button:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}
toolbar[iconsize=small] #goup-button[disabled=true] {
  -moz-image-region: rect(44px 22px 66px 0px) !important;
}
