/* ::::: Info Lister extension ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#infolister-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/info.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#infolister-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #infolister-button {
  list-style-image: url("chrome://browser/skin/bookmarks/bookmarks-toolbar.png") !important;
  -moz-image-region: rect(0px 88px 22px 66px) !important;
}
toolbar[iconsize="small"] #infolister-button:hover {
  -moz-image-region: rect(22px 88px 44px 66px) !important;
}
