/* ::::: toolbar support for Sage extension ::::: */
/* ::::: (sidebar support is in global.css) ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#sage-button,
#sage-button[checked="true"] {
  list-style-image: url("chrome://browser/skin/extensions/icons/sage.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#sage-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #sage-button,
toolbar[iconsize="small"] #sage-button[checked="true"] {
  list-style-image: url("chrome://browser/skin/extensions/icons/sage-small.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #sage-button:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}
