/* ::::: Search Button extension ::::: */
/* ::::: Developer:  Pike ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbar[mode="text"] #search-button .toolbarbutton-text {
  padding-top: -1px !important;  /* correct alignment - must be this specific to override defaults */
  padding-bottom: +1px !important;
}

#search-button,
toolbar[iconsize="small"] #search-button {
  -moz-appearance: none !important;
/*  -moz-box-orient: vertical !important; */
  list-style-image: url("chrome://browser/skin/icons/go.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
  padding-left: +1px !important;     /* adjust to match the Go button */
  padding-right: +1px !important;
}

#search-button:hover,
toolbar[iconsize="small"] #search-button:hover {
  -moz-image-region: rect(16px 16px 32px 0px) !important;
}

#search-button[disabled="true"],
toolbar[iconsize="small"] #search-button[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}
