/* ::::: Stop/Reload extension ::::: */
/* ::::: Developer:  Stephen Clavering ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.stopreload-reload {
 list-style-image: url("chrome://browser/skin/icons/reload.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
.stopreload-reload:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}
toolbar[iconsize=small] .stopreload-reload {
 list-style-image: url("chrome://browser/skin/icons/reload-small.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize=small] .stopreload-reload:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

.stopreload-stop {
 list-style-image: url("chrome://browser/skin/icons/stop.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
.stopreload-reload:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}
toolbar[iconsize=small] .stopreload-stop {
 list-style-image: url("chrome://browser/skin/icons/stop-small.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize=small] .stopreload-reload:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}
