/* ::::: Web Developer Toolbar extension ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.webdeveloper-toolbar-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/webdev-toolbar.png") !important;
}
.webdeveloper-statusbar-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/webdev-statusbar.png") !important;
}
.webdeveloper-sidebar-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/webdev-sidebar.png") !important;
}

#webdeveloper-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/webdev-32.png") !important;
    -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#webdeveloper-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #webdeveloper-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/webdev-22.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #webdeveloper-button:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}
