/* ::::: Zoomy extension ::::: */
/* ::::: Developer:  Stephen Clavering ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: support added for Zoomy extension ::::: */

#zoomy-zoomreset {
  list-style-image: url("chrome://browser/skin/extensions/icons/zoomy-reset.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#zoomy-zoomreset:hover {
 -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #zoomy-zoomreset {
  list-style-image: url("chrome://browser/skin/extensions/icons/zoomy-reset-sm.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #zoomy-zoomreset:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

#zoomy-zoomin {
  list-style-image: url("chrome://browser/skin/extensions/icons/zoomy-in.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px)!important;
}
#zoomy-zoomin:hover {
 -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #zoomy-zoomin {
  list-style-image: url("chrome://browser/skin/extensions/icons/zoomy-in-sm.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #zoomy-zoomin:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

#zoomy-zoomout {
  list-style-image: url("chrome://browser/skin/extensions/icons/zoomy-out.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px)!important;
}
#zoomy-zoomout:hover {
 -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #zoomy-zoomout {
  list-style-image: url("chrome://browser/skin/extensions/icons/zoomy-out-sm.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #zoomy-zoomout:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}
