[Desktop Entry]
Name=Boot Manager
Name[tr]=Açılış Yöneticisi
Name[sv]=Starthanteraren
Name[es]=Administrador de Arranque
Name[de]=Boot-Manager
GenericName=Boot Manager
GenericName[tr]=Açılış Yöneticisi
GenericName[sv]=Starthanteraren
GenericName[es]=Administrador de Arranque
GenericName[de]=Boot-Manager
Comment=An application for managing boot loader.
Comment[tr]=Ön yükleyici (GRUB) ayarlarını değiştirmenizi sağlayan bir uygulama.
Comment[sv]=Program för hantering av startladdaren.
Comment[es]=Programa para la edición del menú de arranque (GRUB).
Comment[de]=Programm für die Verwaltung der Menüeinträge beim Systemstart (GRUB).
Exec=boot-manager
Icon=computer
Type=Application
Categories=Qt;KDE;System;
