[Desktop Entry]
Exec=kcmshell4 disk-manager
Icon=drive-harddisk
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=disk-manager/disk-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=Disk Manager
Name[tr]=Disk Yöneticisi
Name[sv]=Hårddiskhanteraren
Comment=Disk Manager
Comment[sv]=Hårddiskhanteraren
X-KDE-Keywords=python disk managers
