RewriteEngine On
RewriteRule ^/(.*)/(.*)/(.*) /index.php?cid=$1&sid=$2&id=$3
RewriteRule ^/(.*)/(.*)/ /index.php?cid=$1&sid=$2
RewriteRule ^/(.*)/ /index.php?cid=$1
RewriteRule ^user/(.*) /index.php?showuserpage&uname=$1