[Desktop Entry]
Name=Package Manager
Name[tr]=Paket Yöneticisi
Name[nl]=Pakketmanager
Icon=package-manager
Type=Application
StartupNotify=False
MimeType=application/x-pisi;
Exec=pm-installer --install %u
