[Desktop Entry]
Name=Package Manager
GenericName[en]=Add or Remove Software
GenericName[tr]=Yazılım ekle ve kaldır
Name[nl]=Toevoegen of verwijderen software
Comment=PiSi Package Manager Graphical User Interface
Comment[en]=PiSi Package Manager Graphical User Interface
Comment[tr]=PiSi Paket Yöneticisi Kullanıcı Grafik Arayüzü
Comment[nl]=PiSi Pakkermanager grafische gebruikersinterface
Icon=package-manager
Type=Application
Exec=package-manager
Categories=Qt;KDE;System;
