{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cs" />
    <link href="/media/css/stil.css" type="text/css" rel="stylesheet" />

    <title>Paket Arama - {% block title %}{% endblock %}</title>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
	{% block header_menu %}
	
	<div id='header-bugzilla'>
		
		<div style='float:right; margin-right:2em'>
			<h1>Pardus {{current_version}}</h1>
			{% for v in versions %}
			| <a href="/search/{{v}}">Pardus {{v}}</a>
			{% endfor%}
		</div>
	</div>
	
	<div class='menu'>
		
		<a href='http://paketler.pardus.org.tr/info/{{current_version}}/index.html'>Genel Bilgiler</a>
		| <a href='http://paketler.pardus.org.tr/info/{{current_version}}/sources.html'>Kaynak Paketler</a>
		| <a href='http://paketler.pardus.org.tr/info/{{current_version}}/binaries.html'>İkili Paketler</a>
		| <a href='http://paketler.pardus.org.tr/info/{{current_version}}/packagers.html'>Paketçiler</a>
		| <a href='/search'>Paket Arama</a>
		
        </div>
	
	{% endblock %}
	<div align="center">
		<a href='javascript: history.go(-1)'>Geri</a>
	
		<div id="searchForm">
			<form action="/search/{{current_version}}/" method="post">
				<input type="text" name="q" value="{{ term }}" checked="true" size="50" style="font-size:large;"/>&nbsp;<button type="submit">Ara</button><br />
			{% if group %}
				<input type="checkbox" name="group" value="yes" checked="true"/>Group Packages
			{% else %}
				<input type="checkbox" name="group" value="yes" checked="false"/>Group Packages
			{% endif %}
			
			</form>
		</div>
	
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
		<hr width="40%"/>
		<a href='javascript: history.go(-1)'>Geri</a>
	</div>
        <div id="footer">
		{% block footer %}
		{% endblock %}
        
        </div>
	{% include "footer.html" %}
        
  </body>
</html>
