body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: #333;
	}

a {
	color: #990000;
	text-decoration: none;
}

a:hover {
	color: #FF3300;
	text-decoration: underline;
}
.bar {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding: 2px;
	margin-bottom: 3px;
	border-top: thin none #000000;
	border-right: thin none #000000;
	border-bottom: thin none #000000;
	border-left: thin solid #000000;
}

.sidebar {
	background-color: #EEEEEE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #993300;
	padding: 2px;
	border-top: thin none #CCCCCC;
	border-right: thin solid #000000;
	border-bottom: thin none #CCCCCC;
	border-left: thin solid #CCCCCC;
	vertical-align: top;
}

img {
	border: 0px;
	vertical-align: middle;
}

.footbar {
	background-color: #B22400;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding: 2px;
	margin-bottom: 3px;
	height: 10px;
	border-top: thin solid #CCCCCC;
	border-right: thin solid #000000;
	border-bottom: thin solid #000000;
	border-left: thin solid #000000;
	text-align: right;

}
.headbar {

	background-color: #B22400;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	height: 10px;
	border-top: thin solid #000000;
	border-right: thin solid #000000;
	border-bottom: thin solid #CCCCCC;
	border-left: thin solid #000000;
}
.main {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border-top: thin none #000000;
	border-right: thin none #000000;
	border-bottom: thin none #000000;
	border-left: thin solid #000000;
	vertical-align: top;
}

.main_content {
	margin: -10px 10px;
	}

.main_left {
	float:left;
	clear: left;
	}


.main_right {
	float:left;
	clear: right;
	}

small, .subtitle{
	color: #5c5c5c;
	font-family:sans-serif;
	font-size: 0.7em;
	margin-bottom: 0.7em;
}

h2, .h2{
	color: #444444;
	font-family: sans-serif;
	font-size: 1.2em;
	text-decoration: none;
	margin-bottom: 0px;
}

img {
	border: 0px;
	vertical-align: middle;
}

img.header {
	border: none;
}

img.thumbnail {
	border: 1px #a2a2a2 solid;
	padding: 1px;
	margin-right: 1em;
	vertical-align:middle;
}
input.username {
	padding-left:18px;
	background-image: url('../../images/stock_person.png');
	background-repeat: no-repeat;
	}

input.password {
	padding-left:18px;
	background-image: url('../../images/stock_keyring.png');
	background-repeat: no-repeat;
	}

input, select, textarea {
	background-color: #FFF;
	border: 0px;
	border-bottom: 1px solid #BBB;
	border-right: 1px solid #BBB;
	-moz-border-radius : 5px;
	margin-bottom:5px;
	}

.regtable {
	background-color: #EEE;
	border: 0px;
	border-bottom: 1px solid #BBB;
	border-right: 1px solid #BBB;
	-moz-border-radius : 5px;
	margin-left: 50px;
	padding-top:5px;
	padding-left:5px;
	
}

.helptable {
	background-color: #EEE;
	border: 0px;
	border-bottom: 1px solid #BBB;
	border-right: 1px solid #BBB;
	-moz-border-radius : 5px;
	margin-left: 15px;
	padding-top:5px;
	padding-left:5px;
	
}
