[Desktop Entry]
Name=Firewall Manager
Name[tr]=Güvenlik Duvarı Yöneticisi
GenericName=Firewall Manager
GenericName[en]=Firewall Manager
GenericName[tr]=Güvenlik Duvarı Yöneticisi
Comment=Firewall Configuration Interface
Comment[tr]=Güvenlik Duvarı Ayarları
Icon=firewall_manager
X-KDE-ModuleType=Library
X-KDE-Library=firewall-manager
X-KDE-FactoryName=firewall_manager
X-KDE-RootOnly=false
X-Tasma-Fork=true
Type=Application
Exec=firewall-manager
Categories=Qt;KDE;System;X-KDE-settings-network;X-KDE-tasma-network;
