[Desktop Entry]
Encoding=UTF-8
Name=oopsoid
Name[tr]=oopsoid
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
Icon=kerneloops

X-KDE-PluginInfo-Author=Ozan Çağlayan
X-KDE-PluginInfo-Email=ozan@pardus.org.tr
X-KDE-PluginInfo-Name=oopsoid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://pardus.org.tr/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
