[Desktop Entry]
Exec=kcmshell4 service-manager
Icon=flag-yellow
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=service-manager/service-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=Service Manager
Name[x-test]=xxService Managerxx
Name[tr]=Servis Yöneticisi
Name[sv]=Tjänstehanteraren
Comment=Service Manager
Comment[sv]=Tjänstehanteraren
X-KDE-Keywords=python service managers
