[Desktop Entry]
Exec=kcmshell4 fiewwall-manager
Icon=security-high
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=firewall-manager/firewall-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=Firewall Manager
Name[tr]=Güvenlik Duvarı Yöneticisi
Name[sv]=Brandväggshanteraren
Name[es]=Administrador de Cortafuegos
Comment=Firewall Manager
Comment[sv]=Brandväggshanteraren
Comment[es]=Configuración de Cortafuegos
Comment[de]=Konfiguration des Firewalls
X-KDE-Keywords=python security firewall managers
