[Desktop Entry]
Name=Service Manager
Name[en]=Service Manager
Name[tr]=Servis Yöneticisi
Comment=Service Management Interface
Comment[tr]=Servis Yönetim Arabirimi
Icon=service_manager
Type=Application
Exec=service-manager
Categories=QT;System;KDE
