[Desktop Entry]
Name=Display Settings
Name[tr]=Ekran Ayarları
GenericName=Video Card & Monitor
GenericName[tr]=Ekran kartı & Monitör
Comment=An application to configure your display devices.
Comment[tr]=Görüntü aygıtlarınızı yapılandırmak için bir uygulama.
Exec=display-settings
Icon=preferences-desktop-display
Type=Application
Categories=Qt;KDE;System;
