[Desktop Entry]
Name=Network Manager
Name[en]=Network Manager
Name[tr]=Ağ Ayarları
GenericName=Network Configuration User Interface
GenericName[tr]=Ağ Yapılandırması Arayüzü
Comment=Network Configuration User Interface
Comment[tr]=Ağ Yapılandırması Arayüzü
Icon=network
X-KDE-ModuleType=Library
X-KDE-Library=network-manager
X-KDE-FactoryName=network_manager
X-KDE-RootOnly=false
X-Tasma-Fork=true
Type=Application
Exec=network-manager
Categories=Qt;KDE;System;X-KDE-settings-system;X-KDE-tasma-network;
