{% load i18n %}
{% extends "base_main.html" %}

{% block title%}{{title}}{% endblock %}

{% block header %}

<h1 align='center'>{{pkgname}}</h1>

{% endblock %}


{% block content %} 

<table>
<tbody>

<tr><td><h3>{{pkgname}} <em>{{pkgversion}}</em></h3>
<p><a href="{{pkghomepage}}">{{pkghomepage}}</a></p>
<p>{% trans "License" %}: {% for x in pkglicense %}{{x}}</p>{% endfor %}


<tr><td><h3>{% trans "Actions" %}:</h3>
<p><a href="http://svn.pardus.org.tr/{{pkgpath}}">{% trans "Builder files" %}</a></p>
<p><a href="http://bugs.pardus.org.tr/buglist.cgi?product=Paketler&component={{pkgname}}&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED">{% trans "Bug reports" %}</a></p>

<tr><td><h3>{% trans "Binary packages" %}:</h3>

{% for x in pkgbinaries %}
<p><a href="http://127.0.0.1:8000/main/{{reponame}}/binaries/{{x.name}}">{{x.name}}</a></p>
{% endfor %}

<tr><td><h3>{% trans "Patchs" %}</h3>

{% for x in pkgpatches %}
<p><a href="http://svn.pardus.org.tr/pardus/{{reponame}}/programming/libs/{{pkgname}}/files/{{x.name}}">{{x.name}}</p>
{% endfor %}

<tr><td><h3>{% trans "Release history" %}:</h3>
<table>
	<thead><tr><th>{% trans "Release" %}<th>{% trans "Release date" %}<th>{%trans "Version" %}<th>{%trans "Commiter" %}<th>{%trans "Summary" %}</tr></thead>
	<tbody>
	{% for x in pkghistory %}
	<tr><td>{{x.0}}<td>{{x.1}}<td>{{x.2}}<td><a href="http://127.0.0.1:8000/main/{{reponame}}/packagers/{{x.3}}">{{x.3}}</a><td>{{x.4}}
	{% endfor %}
	</tbody>
</table>

</tbody></table>

{% endblock %}

