body {
    margin: 0px;
    padding: 0px;
    background-color: #f3f3f3;
}

/* alignments */
.center {
    text-align: center;
}

img.center, img[align="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.floatl {
    float: left;
}

img.floatl, img[align="left"] {
    float: left;
    margin: 2px 10px 5px 0px;
}

.floatr {
    float: right;
}

img.floatr, img[align="right"] {
    float:right;
    margin: 2px 0px 5px 10px;
}

.clearl {
    clear: left;
}

.clearr {
    clear: right;
}

.clear {
    clear:both;
}

.header {
    height: 64px;
    width: 908px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    margin-top: 15.5px;
    margin-left: 23px;
}

#language {
    margin-top: 25px;
    margin-right: 23px;
}

.container_top {
    background: url("../resim/container_top.png") no-repeat;
    height: 3px;
    width: 926px;
    margin-left: auto;
    margin-right: auto;
}

.container_bottom {
    background: url("../resim/container_bottom.png") no-repeat;
    height: 6px;
    width: 926px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    width: 926px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    background: url("../resim/container_bg.png") repeat-y;
}

#content {
    position: relative;
    top: 10px;
    left: 14px;
    width: 714px;
    height: 520px;
    background: url('../resim/content_bg.png') no-repeat;
    overflow: hidden;
}

.content_title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding-top: 16px;
    padding-left: 16px;
    width: 450px;
}

.content_text {
    line-height: 14px;
    font-size: 11px;
    color: #fff;
    padding-top: 16px;
    padding-left: 16px;
    width: 640px;
    overflow: none;
}

.content_detail_button {
    margin-top: -8px;
}

.content_pointer_container {
    margin-top: 12px;
    width: 714px;
}

.content_pointer {
    color: #fff;
    padding-left: 20px;
    width: 208px;
}

.content_pointer_text {
    font-size: 11px;
    padding-left: 5px;
}

.content_pointer_text img {
    display: block;
    padding-bottom: 8px;
    margin-top: -4px;
}

#sidebar {
    float: right;
    width: 227px;
    height: 520px;
    position: relative;
    top: 25px;
    z-index: 1;
}

#sidebar ul {
    list-style-image: url('../resim/bullet.png');
}

#sidebar_bottom {
    float: right;
    width: 190px;
    position: relative;
    top: 196px;
}

#sidebar_bottom img, a {
    padding-top: 5px;
    border: 0;
}

#footer {
    height: 69px;
    width: 873px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer img {
    vertical-align: middle;
}