<!-- 1.0@bugzilla.org -->
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]
  
[% types = [
  { name => "noop", description => "---" },
  { name => "equals", description => "eşit olan" },
  { name => "notequals", description => "eşit olmayan" },
  { name => "substring", description => "cümleyi içeren" },
  { name => "casesubstring", description => "cümleyi (aynen) içeren" },
  { name => "notsubstring", description => "cümleyi içermeyen" },
  { name => "allwordssubstr", description => "tüm cümleleri içeren" },
  { name => "anywordssubstr", description => "herhangi bir cümleyi içeren" },
  { name => "regexp", description => "regexp içeren" },
  { name => "notregexp", description => "regexp içermeyen" },
  { name => "lessthan", description => "küçük olan" },
  { name => "greaterthan", description => "büyük olan" },
  { name => "anywords", description => "kelimelerden herhangi birini içeren" },
  { name => "allwords", description => "kelimelerin hepsini içeren" },
  { name => "nowords", description => "kelimelerin hiçbirini içermeyen" },
  { name => "changedbefore", description => "tarihinden önce değiştirilmiş olan" },
  { name => "changedafter", description => "tarihinden sonra değiştirilmiş olan" },
  { name => "changedfrom", description => "tarafından değiştirilmiş olan" },
  { name => "changedto", description => "için değiştirilmiş olan" },
  { name => "changedby", description => "tarafından değiştirilmiş olan" } ] %]

  <p>
    <strong>
      <a name="chart" href="queryhelp.cgi#advancedquerying">
      Boole Damgası Kullanan Gelişmiş Arama</a>:
    </strong>
  </p>

[%# Whoever wrote the original version of boolean charts had a seriously twisted mind %]

[% jsmagic = "onclick=\"document.forms[0].action='query.cgi#chart'; document.forms[0].method='POST'; return 1;\"" %]

[% FOREACH chart = default.charts %]
  [% chartnum = loop.count - 1 %]
  <table>
  [% FOREACH row = chart %]
    [% rownum = loop.count - 1 %]
    <tr>
    [% FOREACH col = row %]
      [% colnum = loop.count - 1 %]
      <td>
        <select name="[% "field${chartnum}-${rownum}-${colnum}" %]">
          [% FOREACH field = fields %]
            <option value="[% field.name %]"
              [%- " selected" IF field.name == col.field %]>[% field.description %]</option>
          [% END %]
        </select>

        <select name="[% "type${chartnum}-${rownum}-${colnum}" %]">
          [% FOREACH type = types %]
            <option value="[% type.name %]"
              [%- " selected" IF type.name == col.type %]>[% type.description %]</option>
          [% END %]
        </select>

        <input name="[% "value${chartnum}-${rownum}-${colnum}" %]" 
               value="[% col.value FILTER html %]"> 
      </td>
      
      [% IF NOT col == row.last %]
        <td align="center"> 
          Or 
        </td>    
      [% ELSE %]
        <td>
          [% newor = colnum + 1 %]
          <input type="submit" value="Veya" 
                 name="cmd-add[% "${chartnum}-${rownum}-${newor}" %]" [% $jsmagic %]>
        </td>
      [% END %]
      
    [% END %]
    </tr>
    
    [% IF NOT row == chart.last %]
    <tr>
      <td>Ve</td>
    </tr>    
    [% ELSE %]
    <tr>
      <td>
        [% newand = rownum + 1; newchart = chartnum + 1 %]
        <input type="submit" value="Ve" 
               name="cmd-add[% "${chartnum}-${newand}-0" %]"[% $jsmagic %]> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Yeni bir boole damgası ekle" 
               name="cmd-add[% newchart %]-0-0" [% $jsmagic %]>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
    </tr>   
    [% END %]
    
  [% END %]
  </table>
  <hr>
[% END %]
