[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory,media/removable_unmounted,media/removable_mounted,media/cdrom_unmounted,media/cdrom_mounted,media/dvd_unmounted,media/dvd_mounted,media/cdwriter_unmounted,media/cdwriter_mounted
Actions=addRepository;

[Desktop Action addRepository]
Name=Add Repository
Name[tr]=Depo Ekle
Icon=applixware
Exec=package-manager --add-repository %f

