/* ::::: Findbar Basics extension ::::: */
/* ::::: Developer:  CatThief - http://www.tom-cat.com/mozilla ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* toolbar button */

#findbar-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/findbar.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
  -moz-box-orient: vertical !important; 
}

#findbar-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize=small] #findbar-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/findbar-small.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}

toolbar[iconsize=small] #findbar-button:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

/* statusbar button */

#findbar-button1 {
  list-style-image: url("chrome://browser/skin/extensions/icons/findbar-16.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
  padding: 0px 2px 0px 2px !important;
}

#findbar-button1:hover {
  list-style-image: url("chrome://browser/skin/extensions/icons/findbar-16-hov.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}
