/* ::::: ProxyButton extension ::::: */
/* ::::: Oleg Ivanov - http://proxybutton.mozdev.org ::::: */

/* ::::: large toolbar ::::: */

#proxybutton-button,
#proxybutton-button[pbstatus="off"] {
  list-style-image: url("chrome://browser/skin/extensions/icons/proxy-off.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#proxybutton-button:hover,
#proxybutton-button[pbstatus="off"]:hover {
 -moz-image-region: rect(32px 32px 64px 0px) !important;
}

#proxybutton-button[pbstatus="on"] {
  list-style-image: url("chrome://browser/skin/extensions/icons/proxy-on.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#proxybutton-button[pbstatus="on"]:hover {
 -moz-image-region: rect(32px 32px 64px 0px) !important;
}

/* ::::: small toolbar ::::: */

toolbar[iconsize="small"] #proxybutton-button,
toolbar[iconsize="small"] #proxybutton-button[pbstatus="off"] {
  list-style-image: url("chrome://browser/skin/extensions/icons/proxy-off-sm.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #proxybutton-button:hover,
toolbar[iconsize="small"] #proxybutton-button[pbstatus="off"]:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

toolbar[iconsize="small"] #proxybutton-button[pbstatus="on"] {
  list-style-image: url("chrome://browser/skin/extensions/icons/proxy-on-sm.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #proxybutton-button[pbstatus="on"]:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}
