/* ::::: QuickTabPrefToggle extension ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#quicktabpreftoggle-button {
  -moz-binding: url("chrome://browser/skin/browser.xml#toolbar-menu-button") !important;
  list-style-image: url("chrome://browser/skin/extensions/icons/quicktab-off.png") !important;
 -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#quicktabpreftoggle-button:hover {
 -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #quicktabpreftoggle-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/quicktab-off-small.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #quicktabpreftoggle-button:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

#quicktabpreftoggle-button[tooltiptext="Toggled Mode ON"] {
  list-style-image: url("chrome://browser/skin/extensions/icons/quicktab-on.png") !important;
 -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#quicktabpreftoggle-button[tooltiptext="Toggled Mode ON"]:hover {
 -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #quicktabpreftoggle-button[tooltiptext="Toggled Mode ON"] {
  list-style-image: url("chrome://browser/skin/extensions/icons/quicktab-on-small.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #quicktabpreftoggle-button[tooltiptext="Toggled Mode ON"]:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

/* added this condition since we don't want the dropmarker image displayed in the Customize Toolbar window */
#wrapper-quicktabpreftoggle-button:not([place="toolbar"]) .toolbarbutton-menubutton-dropmarker {
  display: none !important;
}
