/* ::::: Translation Panel extension ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#translation-button,
#translationPopup-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/translation.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px) !important;
}
#translation-button:hover,
#translationPopup-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}

toolbar[iconsize="small"] #translation-button,
toolbar[iconsize="small"] #translationPopup-button {
  list-style-image: url("chrome://browser/skin/extensions/icons/translation-small.png") !important;
  -moz-image-region: rect(0px 22px 22px 0px) !important;
}
toolbar[iconsize="small"] #translation-button:hover,
toolbar[iconsize="small"] #translationPopup-button:hover {
  -moz-image-region: rect(22px 22px 44px 0px) !important;
}

/* Show a menuitem image, but not if the menuitem is a checkbox. */
menuitem[key="key_viewTranslationSidebar"]:not([type="checkbox"]) {
  list-style-image: url("chrome://global/skin/subskin/icons/translate.png") !important;
}
menuitem[key="key_viewTranslationSidebar"][type="checkbox"] {
  list-style-image: none !important;
}
menuitem[key="key_viewTranslationSidebar"][type="checkbox"][checked="true"] {
  list-style-image: url(chrome://global/skin/menu/menu-check.gif) !important;
  -moz-image-region: auto !important;
}
menuitem[key="key_viewTranslationSidebar"][type="checkbox"][checked="true"][_moz-menuactive="true"] {
  list-style-image: url("chrome://global/skin/menu/menu-check-hover.gif") !important;
  -moz-image-region: auto !important;
}

window > hbox > vbox[sidebarcommand="viewTranslationSidebar"] > sidebarheader > image {
  list-style-image: url("chrome://global/skin/subskin/icons/translate.png") !important;
  padding: 1px !important;
  padding-right: 4px !important;
}

#translation_popup_menu {
-moz-binding:url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
  list-style-image: url("chrome://global/skin/subskin/icons/translate.png") !important;
}

button[id="translate"] {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

button[id="translate"] {
  -moz-binding: url("chrome://global/skin/subskin/button.xml#button") !important;
}

button[id="translate"] > .button-box > .button-icon {
  list-style-image: url("chrome://global/skin/subskin/icons/translate.png") !important;
}
