[Desktop Entry]
Exec=kcmshell4 settings-network-manager
Icon=applications-internet
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=network-manager/network-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=Network Manager
Name[tr]=Ağ Yöneticisi
Name[sv]=Nätverkshanteraren
Comment=Network Manager
Comment[sv]=Nätverkshanteraren
X-KDE-Keywords=python network manager dns ethernet wireless ip dhcp internet
X-KDE-Keywords[tr]=python ağ yönetici dns ethernet kablosuz ip dhcp internet
