[Desktop Entry]
Type=Service
Comment=Sysinfo Viewer
Comment[de]=Systeminfo-Viewer
Comment[pt_BR]=Visualizador das Informações do Sistema
MimeType=application/x-sysinfo;
Name=Sysinfo
Name[de]=Systeminfo
Name[pt_BR]=Informações do Sistema
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libksysinfopart
