[Desktop Entry]
Name=Configure Display
Name[tr]=Görüntüyü Yapılandır
Name[de]=Anzeige konfigurieren
Name[pt_BR]=Configurar Monitor
Name[es]=Configurar Monitor
Name[nl]=Configureer beeldscherm
Comment=Display Configuration Interface
Comment[tr]=Görüntü Ayarları Arayüzü
Comment[de]=Anzeigekonfigurations-Schnittstelle
Comment[pt_BR]=Interface de Configuração de Monitor
Comment[es]=Interfaz de Configuración de Monitor
Comment[nl]=Scherm configuratie interface
Icon=display
X-KDE-ModuleType=Library
X-KDE-Library=display-config
X-KDE-FactoryName=display_config
Type=Application
Exec=kcmshell display-config
Categories=QT;KDE;X-KDE-settings-system;X-KDE-tasma-looknfeel
