[Desktop Entry]
Exec=kcmshell4 user-manager
Icon=system-users
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=user-manager/user-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=User Manager
Name[tr]=Kullanıcı Yöneticisi
Name[sv]=Användarhanteraren
Comment=User Manager
Comment[sv]=Användarhanteraren
X-KDE-Keywords=python user managers
