
    /*
        TUBITAK UEKAE 2005-2006
        Gökmen GÖKSEL gokmen_at_pardus.org.tr
    */

* {
    font-size: 11px;
    font-family: Tahoma, Sans-Serif;
}

body {
    margin-left:0;
    margin-top:0;
    margin-right:0;
    background-image:url('images/HeadTile.png');
    background-repeat:repeat-x;
    background-color: #FFF;
}

#header {
    background-image:url('images/HeadLogo.png');
    background-repeat:no-repeat;
    background-position: 0px 0px;
    height:119px;
}

img {
    border:0px;
    vertical-align:middle;
}

a {
	color: #F55400;
	text-decoration: none;
	/*font-weight: bold;*/
}

a:hover {
	color: #444;
    background-color:#EEE;
}

div#head {
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: .5px;
    border-bottom:1px solid #BBB;
    padding:1px;
    margin-bottom:3px;
}

div#warn {
    font-size: 12pt;
    font-weight: bold;
    color:#FFF;
    background-color:#FF571F;
    letter-spacing: .5px;
    border-bottom:1px solid #BBB;
    padding:2px;
    -moz-border-radius : 5px;
}

li {
    list-style-image: url('images/BulletCyan.png');
}

div#box {
    text-align: left;
    vertical-align: middle;	
    margin: 0px auto;
    width: 760px;
    background-color: #ffffff;
}
div#box2 {
    text-align: left;
    vertical-align: middle;	
    margin: 0px auto;
    width: 760px;
}

div#leftbox {
    margin: 5px 5px 0px auto;
    background-color:#EEE;
    color: #000;
    width:170px;
    float:left;
    clear:left;
    -moz-border-radius : 5px;
    border: 1px solid #CCC;
    padding:3px;
}

div#leftpane {
    float:left;
    clear:left;
}

div#leftpane input{
    background-color: #EEE;
    border: 1px solid #CCC;
    -moz-border-radius : 5px;
    width:100%;
    margin-top:2px;
}

div#leftpane input:focus{
    background-color: #FFF;
    border: 1px solid #888;
}

.register {
    margin-top:2px;
    border: 1px solid;
    color: #CCC;
    background-color:#FFF;
    font-size: 8pt;
    text-align:center;
    -moz-border-radius : 5px;
}

.register a:hover {
    color: #FF3300;
    text-decoration: underline;
}

div#container {
    float:right;
    width:568px;
    background-color:#DDD;
    margin: 5px auto;
    -moz-border-radius : 5px;
    padding:3px;
    border: 1px solid #CCC;
}

div#result {
    margin-left:2px;
}

.regtable {
    background-color: #FFF;
    border: 0px;
    border-bottom: 1px solid #BBB;
    border-right: 1px solid #BBB;
    -moz-border-radius : 5px;
    padding:10px;
    width:100%;
}

.regtable td{
    width:100%;
}

.regtable input,select,textarea{
    background-color: #EEE;
    border: 1px solid #CCC;
    -moz-border-radius : 5px;
    width:370px;
    color:black;
}

.regtable .info{
    
}
.regtable input:focus,select:focus,textarea:focus{
    background-color: #FFF;
    border: 1px solid #888;
}

thead td{
    font-weight:bold;
    cursor:pointer;
}
.restable {
    background-color: #FFF;
    border: 0px;
    border-bottom: 1px solid #BBB;
    border-right: 1px solid #BBB;
    -moz-border-radius : 5px;
    padding:10px;
    width:100%;
}

.restable th{
    text-align:left;
    border-bottom:1px solid #bbb;
}

input.user {
    padding-left:18px;
    background-image: url('images/user.png');
    background-repeat: no-repeat;
}

input.pass {
    padding-left:18px;
    background-image: url('images/pass.png');
    background-repeat: no-repeat;
}

input.search {
    padding-left:18px;
    background-image: url('images/search.png');
    background-repeat: no-repeat;
}

.checkbox{
    padding: 0px;
    margin: 0px;
}

.checkbox input{
    padding: 0px;
    margin: 3px;
    width: 13px;
}

.checkbox select{
    padding: 0px;
    margin: 3px;
    width:200px;
}

.vendor_list {
    background-color:#FFC;
    border: 1px solid #aaa;
    padding: 2px;
    
}

.dropmenu {
    display: none;
}

.droppedmenu {
    display: block; 
    position: absolute;
    z-index: 99;
    background-color: #FBFBF9;
    border: 1px solid #ccc;
    padding: 1px;
    cursor: pointer;
    width: 365px;
}

.ozvendorlist {
    float:left;
    margin-top:3px;
    border-bottom:1px solid #BBB;
    border-right:1px solid #BBB;
    width:175px;
    margin-left:2px;
}
.ozvendorlist:hover {
    background-color: #222FFF;
}
