[Desktop Entry]
Name=Firewall Manager
Name[tr]=Güvenlik Duvarı Yöneticisi
Name[sv]=Brandväggshanteraren
Name[es]=Administrador de Cortafuegos
Name[nl]=Firewallbeheer
Name[fr]=Pare-feu
GenericName=Firewall Manager
GenericName[tr]=Güvenlik Duvarı Yöneticisi
GenericName[sv]=Brandväggshanteraren
GenericName[es]=Administrador de Cortafuegos
GenericName[nl]=Firewallbeheer
GenericName[fr]=Pare-feu
Comment=An application for managing firewall.
Comment[tr]=Güvenlik duvarını yönetmenizi sağlayan bir uygulama.
Comment[sv]=Ett program för hantering av brandväggen.
Comment[es]=Configuración de Cortafuegos
Comment[de]=Konfiguration des Firewalls
Comment[nl]=Programma voor beheer van firewall
Comment[fr]=Configuration du pare-feu
Exec=firewall-manager
Icon=security-high
Type=Application
Categories=Qt;KDE;System;
