{% load i18n %}
{% extends "base_main.html" %}

{% block title%}{{title}}{% endblock %}

{% block header %}

<h1 align='center'>{% trans "Search" %}</h1>

{% endblock %}


{% block content %} 

<form action="http://127.0.0.1:8000/main/{{reponame}}/search_result/" method="post">

<input type="text" name="keywords">
<select name="searchin">
<option value="packager">{% trans "Packager" %}</option>
<option value="binary">{% trans "Binary" %}</option>
<option value="source">{% trans "Source" %}</option>
<option value="patch">{% trans "Patch" %}</option>
</select>

<input type="submit" value="Submit">

</form>


{% endblock %}

