@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: repeat-x;
	background-image: url(../resim/zemin.gif);
}
body,td,th {
	font-family: Tahoma,Arial, Helvetica, sans-serif;
/*	font-size: 11px; */
	color: #7b7b7b;
}
.contain {
	float: left;
	margin: 0px;
	padding: 0px;
}
#shorts {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #b7b7b7;
}
.small {
	font-size: 9px;
	color: #d7d7d7;
	padding-top: 0px;
	padding-bottom: 6px;
}
.short {
	float: left;
	width: 182px;
	margin-top: 10px;
	margin-left: 10px;
}
.contain #shorts .short h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #156FA5;
	line-height: 16px;
	display: block;
	height: 50px;
	padding: 0px;
	margin-top: 11px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.contain #shorts .short .detay {
	display: block;
	padding-top: 16px;
	float: right;
}
.contain #shorts .short p {
	margin: 0px;
	padding: 0px;
	display: block;
	color: #999999;
}

.contain .header {
	display: block;
	height: 93px;
	width: 570px;
	clear: left;
	margin: 5px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.contain .remove {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #939393;
	font-size: 9px;
	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 190px;
}
.contain .news .newsSee .smallCat {
	display: block;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #d7d7d7;
	padding-top: 7px;
	font-size: 9px;
	height: 16px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.contain .news .newsSee h1 {
	color: #156FA5;
	font-size: 20px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: block;
	padding: 0px;
	margin: 0px;
	height: 43px;
}
.contain .news .newsSee .detay {
	display: block;
	float: right;
	padding-top: 21px;
	padding-bottom: 21px;
}

.contain .news .newsSee p {
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 26px;
	margin: 0px;
}

.contain .news .newsSee {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #7b7b7b;
	display: block;
	width: 282px;
	float: left;
	margin-left: 6px;
	margin-right: 2px;
}
.contain .footer {
	display: block;
	height: 62px;
	width: 752px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	margin-bottom: 10px;
}
.contain .news .newsAll {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #7b7b7b;
	display: block;
	width: 882px;
	float: left;
	margin-left: 6px;
	margin-right: 2px;
	margin-bottom: 10px;
}
.contain .news .newsAll .smallCat {
	display: block;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #d7d7d7;
	padding-top: 7px;
	font-size: 9px;
	height: 16px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.contain .news .newsAll h1 {
	color: #156FA5;
	font-size: 20px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: block;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.contain .news .newsAll .detay {
	display: block;
	float: right;
	padding-top: 42px;
	padding-bottom: 21px;
}
.contain .news .newsAll p {
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin: 0px;
}
.contain .news .newsAll h2 {
	font-size: 14px;
}
.contain .news .newsAll .pic img {
	display: block;
	padding-right: 8px;
	padding-bottom: 8px;
}
