            <div id="minibox2">
                <img src="template/images/sorusor.png" />
                <form action="?" method="post">
                <div id="login">
                    soru sorabilmek için sisteme giriş yapmış olmanız gerekiyor.<br />
                    henüz üye değilseniz <a href="?make_account">buradan</a> üyelik kaydınızı yapabilirsiniz.<br /><br />
                    <label for="username">
                        <img src="template/images/kullanici.png" />
                        <br />
                    </label>
                    <input type="text" id="username" name="username" class="textinput" />
                    <br /><span class="sagpane"><input type="submit" value="giriş" class="buttonSubmit" /></span><br />
                    <label for="password">
                        <img src="template/images/parola.png" />
                        <br />
                    </label>
                    <input type="password" id="password" name="password" class="textinput" />
                    </form>
                </div>
            </div>