[Desktop Entry]
Name=Disk Manager
Name[tr]=Disk Yöneticisi
Name[sv]=Hårddiskhanteraren
Name[es]=Administrador de Montaje de particiones
Name[de]=Disk-mount Manager
GenericName=Disk Manager
GenericName[tr]=Disk Yöneticisi
GenericName[sv]=Hårddiskhanteraren
GenericName[es]=Administrador de Montaje de particiones
GenericName[de]=Disk-mount Manager
Comment=An application for managing partitions and their mount paths.
Comment[tr]=Disk bölümlerini ve bağlandıkları dizinleri yönetmenizi sağlayan bir uygulama.
Comment[sv]=Ett program för att hantera partitioner och deras monteringspunkter.
Comment[es]=Programa para administración de particiones a montar en el sistema.
Comment[de]=Programm zum mounten von Partionen ins Dateisystem.
Exec=disk-manager
Icon=drive-harddisk
Type=Application
Categories=Qt;KDE;System;
