<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="pakito" version="0.3">
<MenuBar>
  <Menu name="File">
    <text>&amp;File</text>
    <Action name="actionNew" />
    <Action name="actionOpen" />
    <Action name="actionSave" />
    <Separator/>
    <Action name="actionClose" />
    <Action name="actionExit" />
  </Menu>
  <Menu name="Operations">
    <text>O&amp;perations</text>
    <Action name="actionFetch" />
    <Action name="actionUnpack" />
    <Action name="actionSetup" />
    <Action name="actionBuild" />
    <Action name="actionInstall" />
    <Separator/>
    <Action name="actionMakePackage" />
  </Menu>
  <Menu name="Automation">
    <text>A&amp;utomation</text>
    <Action name="actionAddRelease" />
    <Action name="actionValidatePspec" />
    <Action name="actionCheckSHA1" />
    <Action name="actionComputeSHA1" />
    <Action name="actionDetectType" />
  </Menu>
</MenuBar>

<ToolBar name="File">
    <text>File</text>
    <Action name="actionNew" />
    <Action name="actionOpen" />
    <Action name="actionSave" />
</ToolBar>
<ToolBar name="Operations">
  <text>Operations</text>
  <Action name="actionFetch" />
  <Action name="actionSetup" />
  <Action name="actionBuild" />
  <Separator/>
  <Action name="actionMakePackage" />
</ToolBar>
<ToolBar name="Automation">
    <text>Automation</text>
    <Action name="actionAddRelease" />
    <Action name="actionValidatePspec" />
    <Action name="actionComputeSHA1" />
    <Action name="actionDetectType" />
</ToolBar>
</kpartgui>
