[Desktop Entry]
Exec=kcmshell4 fiewwall-manager
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=system-manager/system-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=System Manager
Name[tr]=Sistem Yöneticisi
Name[sv]=Systemhanteraren
Name[es]=Administración del Sistema
Name[de]=System-Manager
Comment=System Manager
Comment[sv]=Systemhanteraren
Comment[es]=Administración del Sistema
Comment[de]=System-Manager
X-KDE-Keywords=python system managers
