[Desktop Entry]
Name=System Manager
Name[tr]=Sistem Yöneticisi
Name[sv]=Systemhanteraren
Name[es]=Administración del Sistema
Name[de]=System-Manager
GenericName=System Manager
GenericName[tr]=Sistem Yöneticisi
GenericName[sv]=Systemhanteraren
GenericName[es]=Administración del Sistema
GenericName[de]=System-Manager
Comment=An application for managing settings like system language, keyboard and timezone.
Comment[tr]=Sistem dili, klavyesi ve dil gibi ayarları yönetmenizi sağlayan bir uygulama.
Comment[sv]=Ett program för att hantera systeminställningar som språk, tangentbord och klocka.
Comment[es]=Configuración del sistema, como por ejemplo idioma del sistema, teclado y zona horaria
Comment[de]=Generelle Systemeinstellungen, wie z.B. Systemsprache, Tastatur-layout und Zeitzone
Exec=system-manager
Icon=preferences-other
Type=Application
Categories=Qt;KDE;System;
