[Desktop Entry]
Exec=kaptan
Icon=kaptan
Type=Application

X-KDE-StartupNotify=true
X-KDE-autostart-after=plasma-desktop
X-KDE-autostart-condition=kaptanrc:General:RunOnStart:true

Name=Kaptan
Name[de]=Kaptan
Name[tr]=Kaptan
Name[pt_BR]=Kaptan
Name[nl]=Kaptan
Name[sv]=Kaptan
Name[es]=Kaptan
Name[nl]=Kaptan


