[Desktop Entry]
Name=Service Manager
Name[tr]=Servis Yöneticisi
Name[sv]=Tjänstehanteraren
Name[es]=Administrador de Servicios
Name[de]=Dienste-Manager
Name[nl]=Dienstbeheer
GenericName=Service Manager
GenericName[tr]=Servis Yöneticisi
GenericName[sv]=Tjänstehanteraren
GenericName[es]=Administrador de Servicios
GenericName[de]=Dienste-Manager
GenericName[nl]=Dienstbeheer
Comment=An application for managing system services.
Comment[tr]=Sistem servislerini yönetmenizi sağlayan bir uygulama.
Comment[sv]=Ett program för att hantera systemtjänster.
Comment[es]=Administración de servicios del sistema
Comment[de]=Verwaltung der Systemdienste
Comment[nl]=Programma voor beheer van systeemdiensten.
Exec=service-manager
Icon=flag-yellow
Type=Application
Categories=Qt;KDE;System;
