.pmain {
	background-repeat: no-repeat;
	background-image: url(images/header_r2_c1.png);

}
.pmain {
	background-image: url(images/header_r2_c1.png);
	background-repeat: no-repeat;
	font-family: Tahoma, Verdana, "Trebuchet MS", Arial, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	padding: 10px;
	list-style-type: square;

}
.pmenu {
	font-family: Tahoma, Verdana, "Trebuchet MS", Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	padding: 6px;
	padding-right: 10px;
	text-align: right;
	vertical-align:bottom;	
}

.pmenu img {
	vertical-align:bottom;
}
