[Style]
name = Sample Style 2
description = A Gnomeish for Nazis!
applets= digital-clock; folderview
panelPosition = top; left
widgetStyle = qtc_klearlooks
colorScheme = pink
desktopTheme = Aya
thumbnail = sample2.png
iconTheme = gnome
windowDecoration = kwin3_crystal
