[Desktop Entry]
Exec=kcmshell4 user-manager
Icon=system-users
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=user-manager/user-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=User Manager
Name[tr]=Kullanıcı Yöneticisi
Name[sv]=Användarhanteraren
Name[es]=Administrador de Usuarios
Name[de]=Benutzer-Manager
Comment=User Manager
Comment[sv]=Användarhanteraren
Comment[es]=Administrador de Usuarios
Comment[de]=Benutzer-Manager
Comment[tr]=Kullanıcı Yöneticisi
X-KDE-Keywords=python user managers
