body {
    background-image:url('images/background.png');
    margin-left:0px;
    color: white; text-shadow: #333 0.1em 0.1em 0.1em;
}

a {
    color: white;
}
#logo {
    background-image:url('images/logo.png');
    background-repeat:no-repeat;
    float:right;
    width:85px;
    height:55px;
    margin-right:10px;
    margin-top:12px;
}
#header {
    padding:16px;
    font-size:12px;
    font-weight:bold;
    letter-spacing: .1em;
}
#root {
    width: 100%;
    margin: 0px 0px;
    padding-top:8px;
}
#root>tr>td {
    vertical-align:top;
    padding:15px;
    padding-top:5px;
    padding-right:0px;
}
#right {
    background-image:url('images/solTab.png');
    background-repeat:no-repeat;
    height:400px;
}
#left {
    background-image:url('images/solTab.png');
    background-repeat:no-repeat;
    width:33%;
    margin-top:-10px;
}

/* Left Panel */
table.stock {
    font-size:12px;
    font-weight:bold;
    border:0px;
    border-spacing:0;
    color: white; text-shadow: #555 1px 1px 1px
    margin-top:10px;
    width:96%;
}
table.stock tr.info {
    height:35px;
}

table.stock tr.info[onClick] {
    cursor:pointer;
}

table.stock tr.info[onClick]:hover {
    text-shadow:none;
    border-bottom:1px solid #000;
}

table.stock tr.info td:nth-child(1) {
    background-image:url('images/infoBack.png');
    background-repeat:no-repeat;
    width:30px;
}
table.stock tr.info td:nth-child(1)>img {
    padding: 4px;
    padding-top:0px;
    width:22px;
    height:22px;
    border:none;
}
table.stock tr.info td:nth-child(2) {
    background-image:url('images/tbArk.png');
    background-repeat:repeat-x;
}
table.stock tr.info td:nth-child(2)>span.detail {
    float:right;
    font-size:10px;
    color:whte;
    font-weight:bold;
    text-shadow:none;
}
table.stock tr.info td:nth-child(3) {
    background-image:url('images/tbSag.png');
    background-repeat:no-repeat;
    width:4px;
}
table.stock>tr>th {
    padding-top:10px;
    text-align:left;
}

/* Media Devices */

table.medias {
    font-size:12px;
    font-weight:bold;
    border:0px;
    border-spacing:0;
    color: white; text-shadow: #555 1px 1px 1px
    margin-top:10px;
}
table.medias tr.media {
    height:67px;
}
table.medias tr.media td:nth-child(1) {
    background-image:url('images/mdSol.png');
    background-repeat:no-repeat;
    width:56px;
}
table.medias tr.media td:nth-child(1)>img {
    padding: 4px;
    padding-top:0px;
    width:48px;
    height:48px;
    border:none;
}
table.medias tr.media td:nth-child(2) {
    background-image:url('images/mdArk.png');
    background-repeat:repeat-x;
}
table.medias tr.media td:nth-child(2)>span.detail {
    float:right;
    font-size:10px;
    color:whte;
    font-weight:bold;
    text-shadow:none;
}
table.medias tr.media td:nth-child(3) {
    background-image:url('images/mdSag.png');
    background-repeat:no-repeat;
    width:16px;
}
table.medias>tr>th {
    padding-top:10px;
    text-align:left;
}

th {
    text-align:left;
}

/* Misc Stuff */
h2 {
    clear:left;
    font-size:15px;
}

img.diskusage {
    height:16px;
    padding-top:4px;
    padding-bottom:4px;
}
span.mediaDf {
    font-size:11px;
}

