[Desktop Entry]
Exec=kcmshell4 display-settings
Icon=preferences-desktop-display
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=display-settings/display-settings.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=Video Card & Monitor
Name[tr]=Ekran Kartı & Monitör
Comment=Configure display devices
Comment[tr]=Görüntü aygıtlarını yapılandır
X-KDE-Keywords=python display screen video monitor manager
X-KDE-Keywords[tr]=python görüntü ekran video monitör yönetici
