{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1>{{ source.name }}</h1>
    {% for description in source.info.description_set.all %}
    {% ifequal description.language LANGUAGE_CODE %}
        <p>{{ description.text }}</p>
    {% endifequal %}
    {% endfor %}
    <ul>
        <li><strong>{% trans "Distribution" %}:</strong> <a href="{{ source.distribution.get_url }}">{{ source.distribution }}</a></li>
        <li><strong>{% trans "Maintained By" %}:</strong> <a href="{% url profile-detail source.maintained_by.username %}">{{ source.maintained_by.get_full_name }}</a></li>
        <li><strong>{% trans "Open Bugs" %}:</strong> <a href="http://bugs.pardus.org.tr/buglist.cgi?query_format=advanced&short_desc_type=allwordssubstr&short_desc=&product=Paketler+/+Packages&component={{ source.name }}&version={{ source.distribution.name }}+{{ source.distribution.release }}&long_desc_type=substring&long_desc=&bug_file_loc_type=allwordssubstr&bug_file_loc=&keywords_type=allwords&keywords=&deadlinefrom=&deadlineto=&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&emailassigned_to1=1&emailtype1=substring&email1=&emailassigned_to2=1&emailreporter2=1&emailcc2=1&emailtype2=substring&email2=&bugidtype=include&bug_id=&votes=&chfieldfrom=&chfieldto=Now&chfieldvalue=&cmdtype=doit&order=Reuse+same+sort+as+last+time&field0-0-0=noop&type0-0-0=noop&value0-0-0=">Bugs</a></li>
        <li><strong>{% trans "Homepage" %}</strong>: <a href="{{ source.info.home_page }}">{{ source.info.home_page }}</a></li>
        <li><strong>{% trans "Is A" %}:</strong> 
        {% for isa in source.info.isa_set.all %}
            <a href="{% url isa-source-info source.distribution.name source.distribution.release source.distribution.type isa.name %}">{{ isa.name }}</a>&nbsp;
        {% endfor %}
        </li>
        {% if source.info.part_of %}
        <li><strong>{% trans "Part Of" %}:</strong> <a href="{% url partof-source-info source.distribution.name source.distribution.release source.distribution.type  source.info.part_of %}">{{ source.info.part_of }}</a></li>
        {% endif %}
        <li><strong>{% trans "License" %}:</strong> 
        {% for license in source.info.license_set.all %}
            {{ license.name }}&nbsp;
        {% endfor %}
        </li>
        <li><strong>{% trans "Svn Address" %}</strong>: <a href="{{ source.get_svn_url }}" title="{% trans 'Source files to build binary package' %}">{{ source.get_svn_url }}</a></li>
    </ul>

    <h2>{% trans "Packages" %}</h2>
    <ul>
        {% for package in source.package_set.all %}
        <li><a href="{{ package.get_url }}">{{ package.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>{% trans "Build Dependencies" %}</h2>
    <ul>
        {% for dep in source.builddependency_set.all %}
        <li>{{ dep }}</li>
        {% endfor %}
    </ul>

    <h2>{% trans "Updates" %}</h2>
    <ul>
        {% for update in source.update_set.all %}
        <li>
            <p>{{ update }}</p>
            <p>{{ update.comment|linebreaks }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
