body {
    font-size: 9pt;
    font-family: "Trebuchet MS", Sans-Serif;
    letter-spacing: .5px;
    color:#564b47;
    padding:5px;
    margin:0px;
    text-align: center;
}

div#box {
    text-align: left;
    vertical-align: middle;	
    margin: 0px auto;
    width: 762px;
    background-color: #ffffff;
}

div#leftbox {
    margin: 5px 5px 0px auto;
    background-color:#EEE;
    width:170px;
    float:left;
    clear:left;
    -moz-border-radius : 5px;
    border: 1px solid #DDD;
    padding:3px;
}

div#leftpane {
    float:left;
    clear:left; 
}

div#container {
    float:right;
    width:570px;
    background-color:#DDD;
    margin: 5px auto;
    -moz-border-radius : 5px;
    padding:3px;
    border: 1px solid #CCC;
}