[Style]
name = Sample Style 1
description = Full with Oxygen!
applets= digital-clock; folderview
panelPosition = top; left
widgetStyle = oxygen
colorScheme = blue
desktopTheme = Silicon
thumbnail = sample1.png
iconTheme = oxygen
windowDecoration = kwin3_oxygen
