<!--#include file="header.html" -->
<div class="sayfa">
<center>

<h1>Belgeler</h1>

<table cellspacing=10><tbody>

<tr><td colspan=5><center><img src="./images/tux_head.png" alt="genel"></center></td></tr>

<tr>
$doc=https://svn.uludag.org.tr/uludag/repos/doc/proje_ana_sozlesmesi.lyx$
<td align="left"><b>Proje Ana Sözleşmesi</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

<tr>
$doc=https://svn.uludag.org.tr/uludag/repos/doc/yerellestirme_gruplari/yerellestirme.lyx$
<td align="left"><b>$title$</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

<tr>
$doc=https://svn.uludag.org.tr/uludag/repos/doc/programlama_stili.lyx$
<td align="left"><b>$title$</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

<tr>
$doc=https://svn.uludag.org.tr/uludag/repos/doc/yeni_gelistirici.lyx$
<td align="left"><b>$title$</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

<tr style="padding-bottom: 2em;">
$doc=https://svn.uludag.org.tr/uludag/repos/doc/neden_lyx.lyx$
<td align="left"><b>$title$</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

<tr><td colspan=5><center><img src="./images/tuxdt_head.png" alt="dt"></center></td></tr>

<tr>
$doc=https://svn.uludag.org.tr/uludag/trunk/COMAR/comar_nedir.lyx$
<td align="left"><b>Çomar Nedir, Yenir Mi?</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

<tr>
$doc=https://svn.uludag.org.tr/uludag/trunk/COMAR/VCTD.lyx$
<td align="left"><b>Çomar Mimarisi</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

<tr><td colspan=5><center><img src="./images/tuxhd_head.png" alt="hd"></center></td></tr>

<tr>
$doc=https://svn.uludag.org.tr/paketler/repos/doc/bilisim_okur-yazari.lyx$
<td align="left"><b>$title$</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

<tr>
$doc=https://svn.uludag.org.tr/paketler/repos/doc/TMI.lyx$
<td align="left"><b>$title$</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

<tr>
$doc=https://svn.uludag.org.tr/paketler/repos/doc/kulucka_dagitim.lyx$
<td align="left"><b>Kuluçka Dağıtım Seçimi</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

<tr>
$doc=https://svn.uludag.org.tr/paketler/repos/doc/u18a.lyx$
<td align="left"><b>$title$</b> ($date$)</td>
<td><a href="./$html_link$">HTML</a></td>
<td><a href="./$html_single_link$">HTML (tek sayfa)</a></td>
<td><a href="./$pdf_link$">PDF ($pdf_size$ KB)</a></td>
</tr>

</tbody></table>

</center>
</div>
<!--#include file="footer.html" -->
