Options +Indexes
RewriteEngine On
RewriteBase /
RewriteRule ^Node/(.*) /index.php?page=$1
RewriteRule ^en/Node/(.*) /index.php?page=$1&lang=en
RewriteRule ^en /index.php?lang=en
RewriteRule ^/ /index.php
