[Wallpaper]
Encoding=UTF-8
File=caracal.jpg
Name=Caracal [Wide Screen]
Name[tr]=Caracal [Geniş Ekran]
Name[pt_BR]=Caracal [Tela larga]
ImageType=pixmap
Author=Umut
