[Desktop Entry]
Exec=kdesu quickformat
Icon=draw-eraser
Type=Application
Categories=Qt;KDE;System;

Name=Quick Format
Name[tr]=Hızlı Biçimlendirme
GenericName=Removable Device Formatting Tool
GenericName[tr]=Çıkarılabilir Aygıt Biçimlendirme Aracı
