[Desktop Entry]
Name=Add and Remove User
Name[tr]=Kullanıcı Ekle ve Çıkart
Name[nl]=Toevoegen en verwijderen van gebruiker
Comment=User Management Interface
Comment[tr]=Kullanıcı Yönetimi Arayüzü
Comment[nl]=Gebruikersbeheer interface
Icon=user.png
X-KDE-ModuleType=Library
X-KDE-Library=user-manager
X-KDE-FactoryName=user_manager
X-Tasma-Fork=true
Type=Application
Icon=kuser
Exec=user-manager
Categories=Qt;KDE;X-KDE-settings-system;X-KDE-tasma-system;
