{% extends 'base.html' %}
{% block content %}
    <h1>{{ binary }}</h1>
    <ul>
        <li><strong>Distribution:</strong> <a href="{{ binary.package.source.distribution.get_url }}">{{ binary.package.source.distribution }}</a></li>
        <li><strong>Source:</strong> <a href="{{ binary.package.source.get_url }}">{{ binary.package.source.name }}</a></li>
        <li><strong>Package:</strong> <a href="{{ binary.package.get_url }}">{{ binary.package.name }}</a></li>
        <li><strong>Updated By:</strong> <a href="{{ binary.update.updated_by.get_profile.get_absolute_url }}/">{{ binary.update.updated_by.get_full_name }}</a></li>
        <li><strong>Status:</strong> {{ binary.resolution }}</li>
    </ul>

    {% ifequal binary.resolution "pending" %}
    {% if binary.get_pending_dependencies %}
    <h2>Pending Dependencies</h2>
    <ul>
        {% for dep in binary.get_pending_dependencies %}
        <li><a href="{{ dep.get_url }}">{{ dep }}</a> [Test Result: {{ dep.get_result_str }}]</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Test Result</h2>
    <ul>
        {% for t in binary.testresult_set.all %}
        <li class="test_{{ t.result }}">
            <strong>{{ t.created_by.first_name }} {{ t.created_by.last_name }}:</strong> {{ t.get_result_str }} ({{ t.created_on }})
            <p>{{ t.comment }}</p>
        </li>
        {% endfor %}
    </ul>
    <p>
        <strong>Final result:</strong> {{ binary.get_result_str }}
    </p>

    <h2>Your Report</h2>
        {% if user.is_authenticated %}
        <form action="" method="post">
            <button {% ifequal user_result.result "yes" %}style="background-color: #0b0;"{% endifequal %} type="submit" name="result" value="yes" >Yes</button>
            <button {% ifequal user_result.result "no" %}style="background-color: #b00;"{% endifequal %} type="submit" name="result" value="no" >No</button>
            <button {% ifequal user_result.result "unknown" %}style="background-color: #bbb;"{% endifequal %} type="submit" name="result" value="unknown" >Not Tested</button>
            <strong>Comment:</strong> <input type="text" name="comment" value="{{ user_result.comment }}"/>
        </form>
        {% endif %}
    {% endifequal %}

    <h2>Difference from Previously Released Binary</h2>
    <ul>
        {% for update in binary.get_difference %}
        <li>
            <p>{{ update }}</p>
            <p>{{ update.comment|linebreaks }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
