{% extends 'base.html' %}
{% load library %}

{% block content %}
    <table class="package_list">
        <tr>
            <th>Package</th>
            <th>Maintainer</th>
            <th>Distribution</th>
        </tr>
        {% for source in source_list %}
        <tr>
            <td><a href="{{ source.get_url }}">{{ source.name }}</a></td>
            <td>{{ source.maintained_by.get_full_name }}</td>
            <td>{{ source.distribution }}</td>
        </tr>
        {% endfor %}
    </table>

    <p></p>

    {% if is_paginated %} {% paginator %} {% endif %}
{% endblock %}
