{% extends 'base.html' %}
{% block content %}
    <h1>{{ source.name }}</h1>
    <ul>
        <li><strong>Distribution:</strong> <a href="{{ source.distribution.get_url }}">{{ source.distribution }}</a></li>
        <li><strong>Maintained By:</strong> <a href="{% url profile-detail source.maintained_by.username %}">{{ source.maintained_by.get_full_name }}</a></li>
        <li><strong>Open Bugs:</strong> <a href="http://bugs.pardus.org.tr/buglist.cgi?query_format=advanced&short_desc_type=allwordssubstr&short_desc=&product=Paketler+/+Packages&component={{ source.name }}&version={{ source.distribution.name }}+{{ source.distribution.release }}&long_desc_type=substring&long_desc=&bug_file_loc_type=allwordssubstr&bug_file_loc=&keywords_type=allwords&keywords=&deadlinefrom=&deadlineto=&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&emailassigned_to1=1&emailtype1=substring&email1=&emailassigned_to2=1&emailreporter2=1&emailcc2=1&emailtype2=substring&email2=&bugidtype=include&bug_id=&votes=&chfieldfrom=&chfieldto=Now&chfieldvalue=&cmdtype=doit&order=Reuse+same+sort+as+last+time&field0-0-0=noop&type0-0-0=noop&value0-0-0=">Bugs</a></li>
    </ul>

    <h2>Packages</h2>
    <ul>
        {% for package in source.package_set.all %}
        <li><a href="{{ package.get_url }}">{{ package.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Build Dependencies</h2>
    <ul>
        {% for dep in source.builddependency_set.all %}
        <li>{{ dep }}</li>
        {% endfor %}
    </ul>

    <h2>Updates</h2>
    <ul>
        {% for update in source.update_set.all %}
        <li>
            <p>{{ update }}</p>
            <p>{{ update.comment|linebreaks }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
