[Desktop Entry]
Name=Display Manager
Name[tr]=Görüntü Yöneticisi
GenericName=Display Configuration Tool
GenericName[tr]=Ekran Yapılandırma Aracı
X-KDE-ModuleType=Library
X-KDE-Library=display-manager
X-KDE-FactoryName=display_manager
Type=Application
Icon=randr
Exec=display-manager
Categories=QT;KDE;System;X-KDE-settings-system;X-KDE-tasma-system;
