[Desktop Entry]
Exec=kcmshell4 user-manager
Icon=system-users
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=user-manager/user-manager.py

X-KDE-System-Settings-Parent-Category=computer-administration
X-KDE-Weight=70

Name=User Manager
Name[tr]=Kullanıcı Yöneticisi
Name[sv]=Användarhanteraren
Name[es]=Usuarios
Name[de]=Benutzerkonten
Name[nl]=Gebruikerbeheer
Name[fr]=Gestionnaire de L'utilisateur
Comment=User Manager
Comment[sv]=Användarhanteraren
Comment[es]=Administrador de Usuarios
Comment[de]=Benutzer hinzufügen und konfigurieren
Comment[tr]=Kullanıcı Yöneticisi
Comment[nl]=Beheerder voor gebruiker
Comment[fr]=Configuration de l'utilisateur
X-KDE-Keywords=python user managers
