[Desktop Entry]
Name=User Manager
Name[tr]=Kullanıcı Yöneticisi
Name[sv]=Användarhanteraren
Name[es]=Usuarios
Name[de]=Benutzerkonten
Name[nl]=Gebruikerbeheer
GenericName=User Manager
GenericName[tr]=Kullanıcı Yöneticisi
GenericName[sv]=Användarhanteraren
GenericName[es]=Usuarios
GenericName[de]=Benutzerkonten
GenericName[nl]=Gebruikerbeheer
Comment=An application for managing user accounts.
Comment[tr]=Kullanıcı hesaplarını yönetmenizi sağlayan bir uygulama.
Comment[sv]=Ett program för att hantera användarkonton.
Comment[es]=Administración de cuentas de usuarios.
Comment[de]=Benutzer hinzufügen und konfigurieren.
Comment[nl]=Beheerder voor gebruiker van het systeem.
Exec=user-manager
Icon=system-users
Type=Application
Categories=Qt;KDE;System;
