{% extends "base.html" %} 
{% load i18n %}
{% block title %}{% trans 'Package Search' %}{% endblock %}
{% block content %}
        <h2 align="center">{% trans 'Usage' %}</h2>

	<table align="center">
	<tr>
		<th>{% trans 'Usage' %}</th>
		<th>{% trans 'Meaning' %}</th>
	</tr>
	<tr>
		<td>{% trans 'term in:packge' %}</td>
		<td>{% trans 'Search for "term" in "package"' %}</td>

	</tr>
	<tr>
		<td>{% trans 'in:package' %}</td>
		<td>{% trans 'List all paths in "package"' %}</td>
	</tr>
	<tr>
		<td>{% trans 'p:package' %}</td>

		<td>{% trans 'Search for packages related to "package"' %}</td>
	</tr>
	<tr>
		<td>{% trans 'p:' %}</td>
		<td>{% trans 'List all packages' %}</td>
	</tr>
	<tr>

		<td>{% trans 'term' %}</td>
		<td>{% trans 'Search for "term" in all packages' %}</td>
	</tr>
</table>
{% endblock %}