body {
  margin: 0em;
  padding: 0em;
}

#container {
  padding: 0em;
  margin: 0em;
}

#header {
  padding: 1em;
  background-color: #b22400;
  color: #fff;
  margin-bottom: 2em;
}

#menu {
  float: left;
  width: 17em;
}

#content {
  padding-left: 18em;
}

#footer {
  clear: left;
  margin-top: 2em;
  background-color: #b22400;
  padding: 5px;
  color: #fff;
}

/* #header */
#header h1 {
  margin: 0em;
  height: 33px;
  padding-left: 130px;
  background: url(images/uludag.png) no-repeat 0% 0%;
  text-align: right;
}
#header h1 span {

}

/* table */
table th {
  text-align: left;
}
tr.odd {
}
tr.even {
  background-color: #eee;
}

/* form */
form>fieldset {
  margin: 0em;
  padding: 1em 0em;
  border: 0px;
  border-top: 1px solid #aaa;
}
form>fieldset>legend {
  margin: 0em;
  padding: 0em;
  font-weight: bold;
}
form>fieldset>div>label, form>fieldset>div>input,
form>fieldset>div>div, form>fieldset>div>select,
form>fieldset>div>textarea {
  float: left;
}
form>fieldset>div>label {
  width: 12em;
  line-height: 1.7em;
  clear: left;
}
form>fieldset>div>input {
  margin-bottom: 0.5em;
}
input, select, textarea, select {
  border: 1px solid #aaa;
}
.error {
  border: 1px solid #f00;
}
