{% extends 'base.html' %}
{% block content %}
<h1>Ack/Nack</h1>
{%if stateBinarys %}
<div>
<div style="float:left;padding-left:10px">
    <form action="." method="post">
        <h2>maintained</h2>
        <table>
        {% for distro in distributions %}
        <tr>
            <td>
                <h4>{{distro}}
                </h4>
            </td>
            <td>
            </td>
        </tr>
                {% for stateBinary in stateBinarys %}
                    {% ifequal stateBinary.binary.package.source.distribution distro %}
                        <tr>
                        <td>{{stateBinary.binary}}</td>
                        <td><input type="radio" name="{{stateBinary.id}}" value="ack"/>Ack
                            <input type="radio" name="{{stateBinary.id}}" value="nack"/>Nack
                            <input type="radio" name="{{stateBinary.id}}" value=""/>Null
                        </td>
                    {% endifequal %}
                {% endfor %}
            {% endfor %}
            <tr><td><input type="submit"/></td><td></td></tr>
        </table>
    </form>
</div>
{%endif%}
{%if stateBinarysOfUpdate %}
<div style="float:left;padding-left:10px">
    <h2>Updated</h2>
    <form action="." method="post">
    <table>
    {% for distro in distributions %}
        <tr>
            <td>
                <h4>{{distro}}
                </h4>
            </td>
            <td>
            </td>
        </tr>
        {% for stateBinary in stateBinarysOfUpdate %}
            {% ifequal stateBinary.binary.package.source.distribution distro %}
                <tr>
                <td>{{stateBinary.binary}}</td>
                <td><input type="radio" name="{{stateBinary.id}}" value="ack"/>Ack
                    <input type="radio" name="{{stateBinary.id}}" value="nack"/>Nack
                    <input type="radio" name="{{stateBinary.id}}" value=""/>Null
                </td>
            {% endifequal %}
        {% endfor %}
    {% endfor %}
        <tr>
            <td><input type="submit"/></td>
            <td></td>
        </tr>
    </table>
    </form>
</div>
{% endif %}
</div>
{% endblock %}
