[Wallpaper]
Encoding=UTF-8
File=felisge.jpg
Name=Felis chaus [Wide Screen]
Name[tr]=Felis chaus [Geniş Ekran]
Name[pt_BR]=Felis chaus [Tela larga]
ImageType=pixmap
Author=Umut
