Options +Indexes
RewriteEngine On
RewriteBase /
RewriteRule ^Node/(.*) /index.php?page=$1
RewriteRule ^En/Node/(.*) /index.php?page=$1&lang=en
RewriteRule ^En /index.php?lang=en
RewriteRule ^/ /index.php
