/* CSS Document */

/* sayfa cercevesi, baslik ve dipnotun stilleri */

body {
	background:#e5e5e5;
	font-family: Verdana, sans-serif;
	border: 0;
	padding: 0;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color:#d06020;
	text-decoration: underline;
}

.frame {
	width: 90%;
	border: 1px solid #555555;
	background:#ffffff;
}

.header {
	background:#ffffff url("images/header2.png") repeat-x;
	margin: 0;
	text-align:left;
	clear: both;
}

.menubox {
	position: relative;
	margin: 0;
	margin-top:-19px;
	margin-right: 5px;
	font-size: 11px;
	border: 0;
	line-height:10px;
	text-align:right;
	color:#1e3d55;
}

.content {
	text-align:left;
	padding-top: 10px;
	margin: 0.5em;
	font-size: small;
	clear: both;
}

.footer {
	line-height:2em;
	font-size: small;
	text-align: center;
}

.box {
	clear: both;
	margin: 1em;
}

.imgbox {
	border: 0;
	padding: 1.2em;
}

/* ana sayfadaki alt kutular */
.bottom {
	width:32%;
	float:left;
	text-align:left;
}

.bottom  p {
	font-size: 12px;
}

/* bikac ontanimli tag stili */

p,h1,pre {
	margin:10px 10px 10px 10px;
}

h1 {
	font-size:14px;
	padding-top:10px;
}

.input {
	border:1px #1c3d55 solid;
	height: 10px;
	font-size: 9px;
	background:#e5e5e5;
}

.input:hover {
	background:#fff;
}

/* ana sayfalarin icerik stilleri */

.sayfa {
	text-align: left;
	margin: 2em;
}

.sayfa h1 {
	font-size: x-large;
	font-weight:bold;
	padding-left:20px;
	padding-bottom:5px;
	margin-top:-10px;
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-bottom:2px solid #33A8FF;
	color:#06c;
}

.sayfa h2 {
	font-size: large;
	font-weight: bold;
	color:#06c;
}

.sayfa h3 {
	font-size: large;
	font-weight: normal;
	color:#06c;
	margin-bottom: 0.5em;
}

.sayfa h4 {
	font-size: medium;
	font-weight: normal;
	color:#06c;
}

.sayfa p {
	padding-left:15px;
	padding-right:20px;
	font-size: small;
	line-height:1.5em;
}

.sayfa a {
	color:#ee5511;
}

.sayfa table h3 {
	text-align: center;
}

.sayfa font {
	font-size: small ! important;
}

.altcizgi {
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 1em;
	border-bottom: thin dashed #33A8FF;
}

.navbar {
	padding: 0.5em;
	margin: 0.5em;
}

.navbut {
	color: #000000;
	padding-right: 2em;
}

.navhide {
	color: #909090;
	padding-right: 2em;
}
