/* ulusal dağıtım web sitesi stilleri */

body { font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: small;
	background-image: url(./images/back.png);
	background-repeat: repeat-x;
	background-color: #526D72;
	margin: 0;}
a {	color: #990000;	text-decoration: none;	font-weight: bold;}

a:hover {	color: #fe6a14;	text-decoration: underline;}
.anaimg { padding: 0.4em 0.5em 0em 0.1em; border:1px;}
.diller { font-family: Arial, Helvetica, sans-serif;
          text-align: center;
	  font-size: 8pt;
	  background-color: #068593;
	  color: #FFF;
	  font-weight: bold;
	  margin-left: 0.3pt;
}
.diller a { font-family: Arial, Helvetica, sans-serif;  color: #FFF;  font-weight: bold;}
.diller a:hover {color: #fe6a14;text-decoration: underline;}
.basfon { vertical-align:"middle"; background: url(images/basfon.png); background-repeat: repeat-x }
.anamenu {background-image: url(./images/menufon.png);}

.altmenu { font-family: Arial, Helvetica, sans-serif; background-repeat: no-repeat; background-image: url(./images/solres01.png); font-size: 9pt; background-color: #213539; color: #FFF; font-weight: bold; padding: 3.5em 0.8em 5em 0; text-align:right; vertical-align:top;}
.altmenu a {color: #FFF; font-weight: bold;}
.altmenu a:hover {color: #fe6a14;text-decoration: underline;}
.altmenus {color:#fe6a14;}

.anaalan { background-color: #9cb2b5; padding-left: 2%; padding-right: 1%; vertical-align: top; height:auto;}
.baslik { font-size: 10pt; font-weight: bold; padding-bottom: 1em;} 
.altbaslik { font-size: small; font-weight: bold; padding-bottom: 0.4em;} 
.anayazi { font-size: small; } 
.gelistiricilistesi { font-size: 8pt; padding:0.8em; width:100%; }
.altalan { background-color: #698D94; margin: 2%; padding: 1%; vertical-align: middle;}

.dipnot { vertical-align: bottom; height: 22; background-color: #000; color: #FFF;  font-size: 8pt; position: relative; bottom: 0px; width: 100%; text-align: center; padding-bottom: 5px;}
.dipbar { background-color: #FC0; text-align: right; vertical-align: middle; vertical-align:middle;width:100%;}
.doldur { height:200px;}