<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="1" name="pisix" >
 <ToolBar noMerge="1" name="mainToolBar" >
  <Action name="options_configure" />
 </ToolBar>
 <StatusBar>
 </StatusBar>
</kpartgui>
