body {
  background: #fff url(images/pardus_background.png) no-repeat fixed 50% 50%;
  color: #000;
  margin: 0px;
  padding: 0px;
}
* {
  font-family: verdana, bitstream vera sans, sans-serif;
  font-size: 1em;
}
#container {
  padding: 1em;
  display: none;
}
#header {
  margin-bottom: 1em;
  padding: 0.5em;
}
#menu {
  float: left;
  width: 15em;
  padding: 0.5em;
}
#content {
  margin-left: 17em;
  padding: 0.5em;
}
#footer {
  clear: both;
  margin-top: 1em;
  padding: 0.5em;
}

fieldset {
  border: 0.1em solid #aaa;
  padding: 0.5em;
  margin: 0em;
}
legend {
  font-weight: bold;
}
label {
  font-weight: bold;
}
input[type="text"], input[type='password'], textarea {
  padding: 0.2em;
  border: 0.1em solid #7b93af;
  background-color: #f2f6f8;
  color: #000;
  margin-bottom: 0.3em;
}
input[type="text"]:focus, input[type='password']:focus, textarea:focus {
  border: 0.1em solid #ff7b93;
}
button {
  padding: 0.1em;
}

ul {
  padding-left: 2em;
}

/*
a {
  font-weight: normal;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #aaa;
  margin-bottom: 2px;
}
a:hover {
  font-weight: normal;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.centered {
  text-align: center;
}

a img {
  border-width: 0px;
}

#notifier {
  position: absolute;
  left: 0em;
  top: 0em;
  width: 10em;
  height; 2em;
  padding: 0.5em;
  visibility: hidden;
  background-color: #f00;
  color: #fff;
  font-family: verdana, bitstream vera sans, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
*/

#menu fieldset {
  border: 0em;
  padding: 0em;
  margin: 0em;
}
#menu fieldset legend {
  display: none;
}
#menu label {
  font-weight: normal;
}
