body {
  margin: 0em;
  padding: 0em;
}
#container {
  margin: 0em;
  padding: 1em;
  background: #fff url(images/menu.bg.png) repeat-y -4.5em 0em;
}

#menu {
  float: left;
  width: 18em;
}
#content {
  padding-left: 20em;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0em;
}

* {
  font-family: Bitstream Vera Sans, Verdana, Tahoma, Sans-Serif;
}

#menu ul {
  padding-left: 1em;
}

#menu a {
  color: #1e5fb8;
  text-decoration: none;
  border-bottom: 1px solid #aaa;
}
#menu a:hover {
  color: #1e5fb8;
  text-decoration: none;
  border-bottom: 1px solid #666;
}

/* FORM */

form>fieldset>div {
  margin: 0.5em 0em 0.5em 0em;
}
form>fieldset {
  margin: 1em 0em 1em 0em;
  padding: 1em 0em 1em 0em;
  border-width: 0em;
  border-top: 0.1em solid #aaa;
}
form>fieldset>legend {
  font-size: 1.2em;
  font-weight: bold;
}
form>fieldset>div>label {
  display: block;
  width: 15em;
  float: left;
}
form>fieldset>div>input, form>fieldset>button, form>fieldset>div>textarea, form>fieldset>div>select {
  display: block;
  margin-left: 15em;
}
form>fieldset>div>div.error_msg {
  color: red;
  font-size: 0.8em;
  margin-left: 15em;
}

form>fieldset>div.required>label {
}
form>fieldset>div.optional>label {
}
